/*************************************************************
 * This is the style for the User Watchlist pages
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/

html:root
{
    --userWLCatalogItemWidth: 225px;
    --userWLCatalogItemStackLvlBdrRad: 10px;
    --userWLCatalogItemDetPadding: 10px;
    --wlModalSectMaxWidth: 70vw;
    --wlModalHeadBdrHeight: 300px;
    --wlModalHeadBoxHeight: 250px;
    --wlModalHeadThumbWidth: 340px;
    --wlModalHeadThumbHeight: 190px;
    --wlModalActionIconBaseWidth: 50px;
    --wlModalActionIconBtnSize: 40px;
    --wlModalActionIconSvgSize: 16px;
    --wlModalActionIconSvgFill: var(--genWhiteTypeLight);
    --wlModalActionMenuSvgSize: 18px;
    --wlModalActionMenuSvgFill: var(--genWhiteTypeMid);
    --wlModalHeader_DetInfo_TagsCountIconSize: 16px;
    --wlModalGrid_CardHandleBdrWidth: 40px;
    --wlModalGrid_CardCtntThumbWidth: 225px;
    --wlModalGrid_CardCtntThumbHeight: 125px;
    --wlModalGrid_CardCtnt_DetTagSectIconSize: 14px;
    --wlModalGrid_CardCtnt_DetTagSectIconFill: var(--genGreenTypeMid);
    --wlModalGrid_CardBoxPaddingTB: 15px;
}


.userWLCatalogBdr
{
    width: 100%;
}

.userWLCatalogBdr .userWLCatalogBox
{
    width: 100%;
}

.userWLCatalogBox .userWLCatalogGrid
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--userWLCatalogItemWidth), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 15px;
    transition: 100ms;
}

.userWLCatalogGrid .userWLCatalog_ItemBase
{
    margin-bottom: 20px;
}

.userWLCatalog_ItemBase .userWLCatalog_ItemBdr
{
    width: 100%;
}

.userWLCatalog_ItemBdr .userWLCatalog_ItemBox
{
    position: relative;
    width: 100%;
    max-width: 350px;
    max-height: 200px;
}


/* ---------- The Watchlist Thumbnail ------ */
.userWLCatalog_ItemBox .userWLCatalog_ItemStackBdr
{
    width: 100%;
    z-index: 1;
}

.userWLCatalog_ItemStackBdr .userWLCatalog_ItemStackBox
{
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.userWLCatalog_ItemStackBox .userWLCatalog_ItemStackLvlAll
{
    border-radius: var(--userWLCatalogItemStackLvlBdrRad);
    border: 1px solid #000000;
}

.userWLCatalog_ItemStackBox .userWLCatalog_ItemStackLvl3
{
    position: absolute;
    top: -10px;
    left: 10px;
    right: 10px;
    width: calc((100% - 20px));
    height: 100%;
    background-color: #404040;
}

.userWLCatalog_ItemStackBox .userWLCatalog_ItemStackLvl2
{
    position: absolute;
    top: -5px;
    left: 5px;
    right: 5px;
    width: calc((100% - 10px));
    height: 100%;
    background-color: #666666;
}

.userWLCatalog_ItemStackBox .userWLCatalog_ItemStackLvl1
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--genGreenTypeMid);
    overflow: hidden;
}

.userWLCatalog_ItemStackLvl1 .userWLCatalog_ItemThumbBdr
{
    width: 100%;
    height: 100%;
}

.userWLCatalog_ItemThumbBdr .userWLCatalog_ItemThumbBox
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.userWLCatalog_ItemThumbBox .userWLCatalog_ItemThumbImg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    object-fit: cover;
    object-position: center;
}


/* ---------- The Watchlist Info ------ */
.userWLCatalog_ItemBox .userWLCatalog_ItemDetBase
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.userWLCatalog_ItemDetBase .userWLCatalog_ItemDetBdr
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #00000065;
    transition: all 300ms ease-in-out;
}

.userWLCatalog_ItemBox:active .userWLCatalog_ItemDetBdr
{
    background-color: #00000099;
}

.userWLCatalog_ItemDetBdr .userWLCatalog_ItemDetBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--userWLCatalogItemDetPadding);
    background: linear-gradient(to top, #000000, #000000de, #000000be, #00000099, #00000000);
}

.userWLCatalog_ItemDetBox .userWLCatalog_ItemDetMajorBox
{
    width: 100%;
}

.userWLCatalog_ItemDetMajorBox .userWLCatalog_ItemDetMajorText
{
    --userWLCatalogItemDetTitleTextNo: 1;
    --userWLCatalogItemDetTitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--userWLCatalogItemDetTitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--userWLCatalogItemDetTitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--userWLCatalogItemDetTitleTextNo) * 1em * var(--userWLCatalogItemDetTitleTextH));
    line-height: var(--userWLCatalogItemDetTitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeLight);
    font-size: 14px;
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
    overflow: hidden;
}

.userWLCatalog_ItemDetBox .userWLCatalog_ItemDetMinorBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userWLCatalog_ItemDetMinorBox .userWLCatalog_ItemDetMinorIcon
{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.userWLCatalog_ItemDetMinorIcon .userWLCatalog_ItemDetMinorSvg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    fill: var(--genGreenTypeMid);
}

.userWLCatalog_ItemDetMinorBox .userWLCatalog_ItemDetMinorText
{
    font-size: 12px;
    color: var(--genWhiteTypeMid);
}



/* ------- Open Watch List ------ */
.userWLCatalog_ItemBox .userWLCatalog_ItemOpenWLBdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.userWLCatalog_ItemOpenWLBdr .userWLCatalog_ItemOpenWLBtn
{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}




/* --------- Deletes Watchlist ---------- */
.userWLCatalog_ItemBox .userWLCatalog_ItemBadgeBdr
{
    position: absolute;
    top: var(--userWLCatalogItemDetPadding);
    right: var(--userWLCatalogItemDetPadding);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 7;
    cursor: pointer;
}

.userWLCatalog_ItemBadgeBdr .userWLCatalog_ItemBadgeBox
{
    width: 100%;
    height: 100%;
}

.userWLCatalog_ItemBadgeBox .userWLCatalog_ItemBadgeIcon
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #00000099;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.userWLCatalog_ItemBox:active .userWLCatalog_ItemBadgeIcon
{
    opacity: 1;
    visibility: visible;
}

.userWLCatalog_ItemBadgeIcon .userWLCatalog_ItemBadgeSvg
{
    width: 18px;
    height: 18px;
    fill: var(--genWhiteTypeMid);
    transition: all 300ms ease-in-out;
}

.userWLCatalog_ItemBadgeBdr:active .userWLCatalog_ItemBadgeSvg
{
    fill: var(--genGreenTypeLight);
}










/* ============= WATCHLIST MODAL ============ */
.wlModalBase
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.75);
    transition: all 300ms ease-in-out;
    z-index: 125;
}

.wlModalBase.active
{
    opacity: 1;
    visibility: visible;
    transform: scale(1.00);
}

.wlModalBase .wlModalBdr
{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.wlModalBdr .wlModalBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    scroll-behavior: smooth;
}


.wlModalBase .wlModalBaseClose
{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px 15px;
    font-size: 15px;
    color: var(--genGreenTypeLight);
    border-radius: 15px;
    background-color: var(--genGreenGradMid2);
    cursor: pointer;
    z-index: 25;
}



/* ------------ Header ----------- */

.wlModalBox .wlModalHeadBase
{
    width: 100%;
}

.wlModalHeadBase .wlModalHeadBdr
{
    position: relative;
    width: 100%;
    min-height: calc((var(--wlModalHeadBdrHeight)));
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--navBarHeight);
    margin-bottom: 25px;
    z-index: 3;
}

.wlModalHeadBdr .wlModalHead_underlayerBdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.wlModalHead_underlayerBdr .wlModalHead_underlayerBox
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.wlModalHead_underlayerBox .wlModalHeader_BcgBdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
}

.wlModalHeader_BcgBdr .wlModalHeader_BcgBox
{
    width: 100%;
    height: 150%;
    opacity: 0.75;
    filter: blur(25px);
}

.wlModalHeader_BcgBox .wlModalHeader_BcgImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wlModalHead_underlayerBox .wlModalHeader_Shadow
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom , #00000000 , #000000);
    z-index: -2;
}

.wlModalHeadBdr .wlModalHeadBox
{
    width: 100%;
    height: var(--wlModalHeadBoxHeight);
    max-width: var(--wlModalSectMaxWidth);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px var(--genBorderSpacing) 0;
    z-index: 5;
}

.wlModalHeadBox .wlModalHeader_thumbBase
{
    width: 100%;
    height: 100%;
    max-width: var(--wlModalHeadThumbWidth);
    max-height: var(--wlModalHeadThumbHeight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlModalHeader_thumbBase .wlModalHeader_thumbBdr
{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.wlModalHeader_thumbBdr .wlModalAction_editBtnBdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.wlModalAction_editBtnBdr .wlModalAction_editBtnBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000c3;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.wlModalAction_editBtnBox .wlModalAction_editBtnIcon
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.wlModalAction_editBtnIcon .wlModalAction_editBtnSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genWhiteTypeLight);
}

.wlModalAction_editBtnBox .wlModalAction_editBtnText
{
    font-size: 15px;
    color: var(--genWhiteTypeLight);
    display: none;
}

.wlModalHeader_thumbBdr .wlModalHeader_thumbBox
{
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    filter: brightness(0.75);
    overflow: hidden;
}

.wlModalHeader_thumbBox .wlModalHeader_thumbImg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    object-fit: cover;
    object-position: center;
}

.wlModalHeadBox .wlModalHeader_DetBdr
{
    width: calc((100% - var(--wlModalHeadThumbWidth)));
    height: 100%;
    padding-left: 15px;
}

.wlModalHeader_DetBdr .wlModalHeader_DetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.wlModalHeader_DetBox .wlModalHeader_DetInfoBdr
{
    width: calc((100% - var(--wlModalActionIconBaseWidth)));
    height: 100%;
}

.wlModalHeader_DetInfoBdr .wlModalHeader_DetInfoBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wlModalHeader_DetInfoBox .wlModalHeader_DetInfo_TitleBox
{
    width: 100%;
}

.wlModalHeader_DetInfo_TitleBox .wlModalHeader_DetInfo_TitleText
{
    --wlModalHeader_DetInfo_TitleTextNo: 2;
    --wlModalHeader_DetInfo_TitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--wlModalHeader_DetInfo_TitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--wlModalHeader_DetInfo_TitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--wlModalHeader_DetInfo_TitleTextNo) * 1em * var(--wlModalHeader_DetInfo_TitleTextH));
    line-height: var(--wlModalHeader_DetInfo_TitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeLight);
    font-size: 22px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.wlModalHeader_DetInfoBox .wlModalHeader_DetInfo_TagsBdr
{
    width: 100%;
    margin: 12px 0;
}

.wlModalHeader_DetInfo_TagsBdr .wlModalHeader_DetInfo_TagsBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wlModalHeader_DetInfo_TagsBox .wlModalHeader_DetInfo_TagsItem
{
    margin-right: 10px;
    color: var(--genWhiteTypeMid);
    font-size: 12px;
}

.wlModalHeader_DetInfo_TagsBox .wlModalHeader_DetInfo_TagsCount
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wlModalHeader_DetInfo_TagsCount .wlModalHeader_DetInfo_TagsCountIcon
{
    width: var(--wlModalHeader_DetInfo_TagsCountIconSize);
    height: var(--wlModalHeader_DetInfo_TagsCountIconSize);
    margin-right: 5px;
}

.wlModalHeader_DetInfo_TagsCountIcon .wlModalHeader_DetInfo_TagsCountSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genGreenTypeMid);
}

.wlModalHeader_DetInfo_TagsCount .wlModalHeader_DetInfo_TagsCountText,
.wlModalHeader_DetInfo_TagsSeparator .wlModalHeader_DetInfo_TagsUpdate
{
    font-size: inherit;
    color: inherit;
}

.wlModalHeader_DetInfoBox .wlModalHeader_DetInfo_DescBox
{
    width: 100%;
}

.wlModalHeader_DetInfo_DescBox .wlModalHeader_DetInfo_DescText
{
    --trendingDetTitleTextNo: 2;
    --trendingDetTitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--trendingDetTitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--trendingDetTitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--trendingDetTitleTextNo) * 1em * var(--trendingDetTitleTextH));
    line-height: var(--trendingDetTitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    overflow-wrap: break-word;
    overflow: hidden;
}


.wlModalHeader_DetInfoBox .wlModalHeader_DetInfo_MoreBdr
{
    width: 100%;
}

.wlModalHeader_DetInfo_MoreBdr .wlModalHeader_DetInfo_MoreBdr
{
    width: 100%;
}

.wlModalHeader_DetInfo_MoreBdr .wlModalHeader_DetInfo_MoreBtn
{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}

.wlModalHeader_DetInfo_MoreBtn .wlModalHeader_DetInfo_MoreText
{
    font-size: 13px;
    font-weight: 600;
    color: var(--genWhiteTypeMid);
}





/* --------- Gen Action button & Context Menu --------- */
.wlModalActionFence
{
    width: var(--wlModalActionIconBaseWidth);
    height: 100%;
}

.wlModalActionFence.wlModalAction_HeaderFence,
.wlModalActionFence.wlModalAction_GridCardFence
{
    display: block;
}

.wlModalActionFence.wlModalAction_SortFence
{
    display: none;
}

.wlModalActionFence .wlModalActionBase
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wlModalActionBase .wlModalActionBdr
{
    width: var(--wlModalActionIconBtnSize);
    height: var(--wlModalActionIconBtnSize);
}

.wlModalActionBase .wlModalActionBox
{
    position: relative;
    width: 100%;
    height: 100%;
}

.wlModalActionBox .wlModalActionBtn
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: #00000000;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.wlModalAction_HeaderFence .wlModalActionBtn,
.wlModalAction_SortFence .wlModalActionBtn
{
    background-color: #ffffff30;
}

.wlModalActionBtn:active 
{
    --wlModalActionIconSvgFill: var(--genGreenTypeLight);
    background-color: #ffffff20;
}

.wlModalActionBtn .wlModalActionBtnIcon
{
    width: var(--wlModalActionIconSvgSize);
    height: var(--wlModalActionIconSvgSize);
}

.wlModalActionBtnIcon .wlModalActionBtnSvg
{
    width: 100%;
    height: 100%;
    fill: var(--wlModalActionIconSvgFill);
    transition: all 150ms ease-in-out;
}


.wlModalAction_MenuBdr
{
    position: fixed;
    top: 25%;
    left: 25%;
    width: fit-content;
    border-radius: 10px;
    background-color: var(--genModalBcg);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 130;
    display: none;
}

.wlModalAction_MenuBdr .wlModalAction_MenuBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wlModalAction_MenuCloseBdr
{
    width: 100%;
    height: 50px;
    display: none;
    border-bottom: 1px solid #444444;
    cursor: pointer;
}

.wlModalAction_MenuCloseBdr .wlModalAction_MenuCloseBox
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

.wlModalAction_MenuCloseBox .wlModalAction_MenuCloseIcon
{
    width: var(--wlModalActionMenuSvgSize);
    height: var(--wlModalActionMenuSvgSize);
    cursor: pointer;
}

.wlModalAction_MenuCloseIcon .wlModalAction_MenuCloseSvg
{
    width: 100%;
    height: 100%;
    fill: var(--wlModalActionMenuSvgFill);
}

.wlModalAction_MenuCloseIcon:active .wlModalAction_MenuCloseSvg
{
    --wlModalActionMenuSvgFill: var(--genWhiteTypeMid2);
}

.wlModalAction_MenuBox .wlModalAction_MenuCtntBdr
{
    width: 100%;
}

.wlModalAction_MenuCtntBdr .wlModalAction_MenuCtntBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.wlModalAction_MenuCtntBox .wlModalAction_MenuCtntBtnBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    outline: none;
    border: none;
    background-color: #00000000;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.wlModalAction_MenuCtntBtnBox:active
{
    --wlModalActionMenuSvgFill: var(--genWhiteTypeLight);
    background-color: var(--genModalOptHover);
}

.wlModalAction_MenuCtntBtnBox .wlModalAction_MenuCtntBtnIcon
{
    width: var(--wlModalActionMenuSvgSize);
    height: var(--wlModalActionMenuSvgSize);
    margin-right: 15px;
}

.wlModalAction_MenuCtntBtnIcon .wlModalAction_MenuCtntBtnSvg
{
    width: 100%;
    height: 100%;
    fill: var(--wlModalActionMenuSvgFill);
    transition: all 300ms ease-in-out;
}

.wlModalAction_MenuCtntBtnBox .wlModalAction_MenuCtntBtnText
{
    margin-right: 20px;
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    color: var(--wlModalActionMenuSvgFill);
    text-align: left;
    transition: all 300ms ease-in-out;
}








/* --------- Wl Modal Body ---------- */
.wlModalBox .wlModalCtntBase
{
    width: 100%;
}

.wlModalCtntBase .wlModalCtntBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 var(--genBorderSpacing);
}

.wlModalCtntBdr .wlModalCtntBox
{
    width: 100%;
    max-width: var(--wlModalSectMaxWidth);
    display: flex;
    flex-direction: column;
}

.wlModalCtntBox .wlModalCtnt_sortBdr
{
    width: 100%;
    height: 45px;
    margin: 15px 0;
}

.wlModalCtnt_sortBdr .wlModalCtnt_sortBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wlModalCtnt_sortBox .wlModalCtnt_sortStatusBdr
{
    width: -moz-fit-content;
    width: fit-content;
}

.wlModalCtnt_sortStatusBdr .wlModalCtnt_sortStatusBox
{
    width: 100%;
    height: 100%;
}

.wlModalCtnt_sortStatusBox .wlModalCtnt_sortStatusText
{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
}

.wlModalCtnt_sortStatusText .status_type
{
    color: var(--genWhiteTypeMid);
}

.wlModalCtnt_sortStatusText .status_divider
{
    margin: 0 7px;
    color: var(--genWhiteTypeMid);
}

.wlModalCtnt_sortStatusText .status_order
{
    color: var(--genGreenTypeMid);
}


.wlModalCtnt_sortBox .wlModalCtnt_sortFilterBdr
{
    width: -moz-fit-content;
    width: fit-content;
}

.wlModalCtnt_sortFilterBdr .wlModalCtnt_sortFilterBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.wlModalCtntBox .wlModalGridBase
{
    width: 100%;
}

.wlModalGridBase .wlModalGridBdr
{
    width: 100%;
}

.wlModalGridBdr .wlModalGridBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.wlModalGridBox .wlModalGrid_CardBdr
{
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: var(--wlModalGrid_CardBoxPaddingTB) 0;
    border-radius: 15px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.wlModalGrid_CardBdr.active
{
    display: block;
}

.wlModalGrid_CardBdr.notShowStatusMatch,
.wlModalGrid_CardBdr.notShowTypeMatch
{
    display: none;
}

.wlModalGrid_CardBdr .wlModalGrid_CardBox
{
    width: 100%;
    height: var(--wlModalGrid_CardCtntThumbHeight);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wlModalGrid_CardBox .wlModalGrid_CardHandleBdr
{
    width: var(--wlModalGrid_CardHandleBdrWidth);
    height: 100%;
}

.wlModalGrid_CardHandleBdr .wlModalGrid_CardHandleBox
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.wlModalGrid_CardHandleBox .wlModalGrid_CardHandleIcon
{
    width: 20px;
    height: 20px;
}

.wlModalGrid_CardHandleIcon .wlModalGrid_CardHandleSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genWhiteTypeMid);
}

.wlModalGrid_CardBox .wlModalGrid_CardCtntBdr
{
    width: calc((100% - (var(--wlModalGrid_CardHandleBdrWidth) + var(--wlModalActionIconBaseWidth))));
    height: 100%;
}

.wlModalGrid_CardCtntBdr .wlModalGrid_CardCtntBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.wlModalGrid_CardCtntBox .wlModalGrid_CardCtntThumbBdr
{
    width: var(--wlModalGrid_CardCtntThumbWidth);
    height: 100%;
}

.wlModalGrid_CardCtntThumbBdr .wlModalGrid_CardCtntThumbBox
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #2c2c2c;
    filter: brightness(0.75);
    overflow: hidden;
}

.wlModalGrid_CardCtntThumbBox .wlModalGrid_CardCtntThumbImg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    object-fit: cover;
    object-position: center;
}

.wlModalGrid_CardCtntThumbImg.img_large
{
    display: block;
}

.wlModalGrid_CardCtntThumbImg.img_small
{
    display: none;
}

.wlModalGrid_CardCtntBox .wlModalGrid_CardCtntDetBdr
{
    width: calc((100% - var(--wlModalGrid_CardCtntThumbWidth)));
    padding-left: 10px;
}

.wlModalGrid_CardCtntDetBdr .wlModalGrid_CardCtntDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wlModalGrid_CardCtntDetBox .wlModalGrid_CardCtnt_DetTitleBox
{
    width: 100%;
}

.wlModalGrid_CardCtnt_DetTitleBox .wlModalGrid_CardCtnt_DetTitleText
{
    --wlModalGrid_CardCtnt_DetTitleTextNo: 1;
    --wlModalGrid_CardCtnt_DetTitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--wlModalGrid_CardCtnt_DetTitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--wlModalGrid_CardCtnt_DetTitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--wlModalGrid_CardCtnt_DetTitleTextNo) * 1em * var(--wlModalGrid_CardCtnt_DetTitleTextH));
    line-height: var(--wlModalGrid_CardCtnt_DetTitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeLight);
    font-size: 16px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.wlModalGrid_CardCtntDetBox .wlModalGrid_CardCtnt_DetTagBdr
{
    width: 100%;
    margin: 10px 0;
}

.wlModalGrid_CardCtnt_DetTagBdr .wlModalGrid_CardCtnt_DetTagBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wlModalGrid_CardCtnt_DetTagBox .wlModalGrid_CardCtnt_DetTagSectBox
{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: var(--genGreenGradMid2);
}

.wlModalGrid_CardCtnt_DetTagSectBox .wlModalGrid_CardCtnt_DetTagSectText
{
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--genWhiteTypeMid);
}

.wlModalGrid_CardCtnt_DetTagSectBox.wlModalGrid_CardCtnt_DetTagDividerBox
{
    display: none;
}

.wlModalGrid_CardCtnt_DetTagScoreBox .wlModalGrid_CardCtnt_DetTagScoreIcon
{
    width: var(--wlModalGrid_CardCtnt_DetTagSectIconSize);
    height: var(--wlModalGrid_CardCtnt_DetTagSectIconSize);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.wlModalGrid_CardCtnt_DetTagScoreIcon .wlModalGrid_CardCtnt_DetTagScoreSvg
{
    width: 100%;
    height: 100%;
    fill: var(--wlModalGrid_CardCtnt_DetTagSectIconFill);
}

.wlModalGrid_CardCtntDetBox .wlModalGrid_CardCtnt_DetDescBox
{
    width: 100%;
}

.wlModalGrid_CardCtnt_DetDescBox .wlModalGrid_CardCtnt_DetDescText
{
    --wlModalGrid_CardCtnt_DetDescTextNo: 2;
    --wlModalGrid_CardCtnt_DetDescTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--wlModalGrid_CardCtnt_DetDescTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--wlModalGrid_CardCtnt_DetDescTextNo);
    display: -webkit-box;
    max-height: calc(var(--wlModalGrid_CardCtnt_DetDescTextNo) * 1em * var(--wlModalGrid_CardCtnt_DetDescTextH));
    line-height: var(--wlModalGrid_CardCtnt_DetDescTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    overflow-wrap: break-word;
    overflow: hidden;
}









@media(hover: hover)
{

    .userWLCatalog_ItemBox:hover .userWLCatalog_ItemDetBdr
    {
        background-color: #00000099;
    }

    .userWLCatalog_ItemBox:hover .userWLCatalog_ItemBadgeIcon
    {
        opacity: 1;
        visibility: visible;
    }

    .userWLCatalog_ItemBadgeBdr:hover .userWLCatalog_ItemBadgeSvg
    {
        fill: var(--genGreenTypeLight);
    }

    .wlModalHeader_thumbBase:hover .wlModalAction_editBtnBox
    {
        opacity: 1;
        visibility: visible;
    }

    .wlModalActionBtn:hover
    {
        --wlModalActionIconSvgFill: var(--genGreenTypeLight);
    }

    .wlModalAction_MenuCloseIcon:hover .wlModalAction_MenuCloseSvg
    {
        --wlModalActionMenuSvgFill: var(--genWhiteTypeMid2);
    }

    .wlModalAction_MenuCtntBtnBox:hover
    {
        --wlModalActionMenuSvgFill: var(--genWhiteTypeLight);
        background-color: var(--genModalOptHover);
    }
    
    .wlModalGrid_CardBdr:hover
    {
        background-color: #3b3b3b75;
    }
}

@media(hover: none)
{
    .userWLCatalog_ItemBadgeBox .userWLCatalog_ItemBadgeIcon
    {
        opacity: 1;
        visibility: visible;
    }
}





/* ============= RESPONSIVESNESS ============= */
@media only screen and (max-width: 1200px)
{
    html:root
    {
        --wlModalSectMaxWidth: 840px;
    }
}

@media only screen and (max-width: 768px)
{
    
    html:root
    {
        --wlModalHeadBdrHeight: 415px;
        --wlModalHeadBoxHeight: 250px;
        --wlModalHeadThumbWidth: 340px;
        --wlModalHeadThumbHeight: 190px;
        --wlModalActionIconBaseWidth: 40px;
        --wlModalActionIconBtnSize: 35px;
        --wlModalActionIconSvgSize: 16px;
        --wlModalHeader_DetInfo_TagsCountIconSize: 14px;
        --wlModalGrid_CardCtntThumbWidth: 85px;
    }

    .wlModalHeadBdr .wlModalHeadBox
    {
        height: 100%;
        flex-direction: column;
        padding: 15px var(--genBorderSpacing) 0;
    }

    .wlModalHeadBox .wlModalHeader_thumbBase,
    .wlModalHeadBox .wlModalHeader_DetBdr
    {
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }

    .wlModalHeadBox .wlModalHeader_DetBdr
    {
        width: 100%;
        margin-top: 25px;
        padding: 0;
    }

    .wlModalCtnt_sortStatusBox .wlModalCtnt_sortStatusText
    {
        font-size: 14px;
    }

    .wlModalGrid_CardCtntThumbImg.img_large
    {
        display: none;
    }
    
    .wlModalGrid_CardCtntThumbImg.img_small
    {
        display: block;
    }

    .wlModalGrid_CardHandleBox .wlModalGrid_CardHandleIcon
    {
        width: 16px;
        height: 16px;
    }

    .wlModalGrid_CardCtnt_DetTitleBox .wlModalGrid_CardCtnt_DetTitleText
    {
        font-size: 15px;
    }
}



@media only screen and (max-width: 565px)
{
    
    html:root
    {
        --wlModalHeadBdrHeight: 375px;
        --wlModalHeadBoxHeight: 250px;
        --wlModalHeadThumbWidth: 265px;
        --wlModalHeadThumbHeight: 140px;
        --wlModalActionIconBaseWidth: 40px;
        --wlModalActionIconBtnSize: 30px;
        --wlModalActionIconSvgSize: 14px;
        --wlModalHeader_DetInfo_TagsCountIconSize: 14px;
        --wlModalGrid_CardCtntThumbWidth: 75px;
        --wlModalGrid_CardHandleBdrWidth: 30px;
    }

    .wlModalHeadBdr .wlModalHeadBox
    {
        height: 100%;
        flex-direction: column;
        padding: 10px var(--genBorderSpacing) 0;
    }

    .wlModalHeader_DetBox .wlModalHeader_DetInfoBdr
    {
        width: 100%;
    }

    .wlModalHeader_DetInfo_TitleBox .wlModalHeader_DetInfo_TitleText
    {
        font-size: 16px;
    }

    .wlModalHeader_DetInfo_TagsBox .wlModalHeader_DetInfo_TagsItem
    {
        font-size: 11px;
    }

    .wlModalHeader_DetInfo_DescBox .wlModalHeader_DetInfo_DescText,
    .wlModalHeader_DetInfo_MoreBtn .wlModalHeader_DetInfo_MoreText
    {
        font-size: 12px;
    }

    .wlModalActionFence.wlModalAction_HeaderFence
    {
        display: none;
    }

    .wlModalActionFence.wlModalAction_SortFence
    {
        display: block;
    }

    .wlModalAction_MenuBdr
    {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    .wlModalAction_MenuCloseBdr
    {
        display: block;
    }
    
    .wlModalCtnt_sortBox .wlModalCtnt_sortStatusBdr
    {
        display: none;
    }

    .wlModalGrid_CardCtnt_DetTitleBox .wlModalGrid_CardCtnt_DetTitleText
    {
        font-size: 14px;
    }
}



@media only screen and (max-width: 485px)
{
    html:root
    {
        --wlModalGrid_CardBoxPaddingTB: 10px;
    }

    .wlModalGrid_CardCtnt_DetTitleBox .wlModalGrid_CardCtnt_DetTitleText
    {
        font-size: 14px;
        --wlModalGrid_CardCtnt_DetTitleTextNo: 2;
    }

    .wlModalGrid_CardCtnt_DetTagSectBox .wlModalGrid_CardCtnt_DetTagSectText
    {
        font-size: 11px;
    }

    .wlModalGrid_CardCtntDetBox .wlModalGrid_CardCtnt_DetDescBox
    {
        display: none;
    }
}

