/***************************************************************************************************************************************
 * This is the general styling used by all pages.
 * It includes elements like the navbar, nav menu, earch, bar, footer etcetera
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *
****************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html
{
    scroll-behavior: smooth;
}

html:root
{
    --scrollbarClr: #282828;
    --scrollbarHoverClr: #333333;
    --scrollbarActiveClr: #444444;
    --navBarHeight: 70px;
    --navBarGenClr: #e7e7e7;
    --navBarBcgSolid: #2f2e2e;
    --navBarBcgTransparency: #2f2e2eef;
    --navElementColor_green: #14d60d;
    --navMenuPageActiveElementClr: #888888;
    --navOptionColor: #a1a1a1;
    --navBarDividerThickness: 2px;
    --navMenuBcgClr: #1d1c1c;
    --navBarIconBoxWidth: 25px;
    --navBarIconWidth: 18px;
    --navBarIconClr: #e7e7e7;
    --navBarSearchWidth: 12px;
    --navBarSearchClr: #888888;
    --navBarProfileOptLinkClr: #cdcdcd;
    --navFooterElemColor: #878787;
    --navFooterElemHoverColor: #dfdfdf;
    --navFooterCompClr: #616060;
    --navBarNotificationPosT: calc(var(--navBarHeight) + 10px);
    --navBarNotificationPosR: -100%;
    --navBarNotificationTitleBoxHeight: 50px;
    --switchAccHeaderHeight: 60px;
    --switchAccOptImgBoxWidth: 50px;
    --footerTextClrGreen: #14d60d;
    --footerTxtClrBright: #e7e7e7;
    --footerTxtClrMid: #b7b7b7;
    --footerTxtClrDark: #888888;
}

body
{
    width: 100%;
    min-height: 100vh;
    font-family: 'Zen dots', sans-serif;
    background-color: #000;
    overflow: hidden;
    scroll-behavior: smooth;
}

@supports(-webkit-tap-highlight-color: #00000000)
{
    body
    {
        -webkit-tap-highlight-color: #00000000;
    }
}

body.bodystart
{
    overflow: visible;
}

body.bodystop
{
    backface-visibility: hidden;
    overflow: hidden;
}

a
{
    text-decoration: none;
    cursor: pointer;
}
a:focus,
a:any-link
{
    color: inherit;
}

p
{
    font-family: 'Poppins', sans-serif;
}

button
{
    font-family: 'Zen dots', sans-serif;
    outline: none;
}

img
{
    backface-visibility: hidden !important;
    -moz-user-select: -moz-none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    pointer-events: none !important;
}

.give_space
{
    width: 100%;
    height: 70px;
    background-color: transparent;
}

::-moz-selection
{
    background: #202720;
    color: #14d60d;
}

::selection
{
    background: #202720;
    color: #14d60d;
}

::-ms-input-placeholder
{
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

::-moz-placeholder
{
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 1;
}

::-webkit-input-placeholder
{
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

::placeholder
{
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 1;
}









/* -----------------preloader----------------- */
#preloader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a8;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:all .2s ease-out;
    z-index: 10000000000000;
}

#preloader.preloadClose
{
    display: none !important;
}

#spinner
{
    width: 60px;
    height: 50px;
    border-right: 15px solid #21c92cb8;
    border-bottom: 10px solid #b1b1b1;
    border-left: 15px solid #21c92cb8;
    border-top: 11px solid transparent;
    border-radius: 10px;
    animation: spi 2000ms linear infinite;
}


@keyframes spi
{
    0%
    {
        transform: translateY(-50%);
    }
    50%
    {
        transform: translateY(0%);
    }
    100%
    {
        transform: translateY(-50%);
    }
}





/*  ============= NAVBAR ============ */

.navBox
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navBarHeight);
    z-index: 100;
}

.navBar
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /* background: -o-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -moz-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -webkit-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000); */
    background: -o-linear-gradient(to bottom, #000000ff, #000000f4, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -moz-linear-gradient(to bottom, #000000ff, #000000f4, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -webkit-linear-gradient(to bottom, #000000ff, #000000f4, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: linear-gradient(to bottom, #000000ff, #000000f4, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.navBar .navBarLeft
{
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navBarCompanylogo
{
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.navBarCompanylogo .lhead
{
    font-size: 25px;
    color: var(--navElementColor_green);
}

.navBarCompanylogo .lname
{
    font-size: 16px;
    color: var(--navBarGenClr);
}

.navBar .headname
{
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: none;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    text-transform: uppercase;
}

.navBar .headname .hd1
{
    font-size: 19px;
    color: var(--navBarGenClr);
}

.headname .hd2
{
    font-size: 19px;
    color: var(--navElementColor_green);
}

.navBar .navBarIconBox
{
    width: var(--navBarIconBoxWidth);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarIconBox .navBarIcon
{
    width: var(--navBarIconWidth);
    fill: var(--navBarIconClr);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.navBarIconBox .navBarIcon:active
{
    fill: var(--navElementColor_green);
}

.navBarRight
{
    height: 100%;
}

.navBarRight .navBarRightCtnt
{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.navBarRightCtnt .openNavSearch_BtnBox
{
    display: flex;
}

.navBarRightCtnt .navBarProfileBdr
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ===== Profile ==== */
.navBarProfileBdr .navBarProfileBox
{
    position: relative;
    width: 35px;
    height: 35px;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid var(--navElementColor_green);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.navBarProfileBox:active
{
    padding: 2px;
}

.navBarProfileBox .navBarProfileImageBox
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.navBarProfileImageBox .navBarProfileImage
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: transparent;
    border-radius: 50%;
}

.navBarProfileBox .navBarProfileOptBdr
{
    position: absolute;
    bottom: 0;
    right: calc(0% - 10px);
    width: 200px;
    height: 0px;
    transform: translateY(calc(100% + 20px));
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;
}

.navBarProfileOptBdr.active
{
    height: 200px;
    opacity: 1;
    visibility: visible;
}

.navBarProfileOptBdr .navBarProfileOptBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 10px;
    border-bottom: 1px solid #14d60d;
    background-color: #1d1c1c;
    overflow: hidden;
}

.navBarProfileOptBox .navBarProfileOpt
{
    width: 100%;
    padding: 0 10px;
    background-color: transparent;
}

.navBarProfileOptBox .navBarProfileOpt:active
{
    --navBarProfileOptLinkClr: var(--navElementColor_green);
    background-color: #3d3d3d;
}

.navBarProfileOpt .navBarProfileOptLink
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 13px 0;
}

.navBarProfileOptLink .navBarProfileOptLinkIcon
{
    width: 16px;
    fill: var(--navBarProfileOptLinkClr);
    transition: 300ms;
}

.navBarProfileOptLink .navBarProfileOptLinkText
{
    color: var(--navBarProfileOptLinkClr);
    font-size: 15px;
    transition: 300ms;
}


/* ====== Search Bar ========== */
.searchBdr
{
    width: calc(100% / 2);
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    z-index: 5;
}

.searchBdr.navBarSearchBdr.active
{
    opacity: 1;
    visibility: visible;
}

.searchBdr .closeNavSearch_BtnBox
{
    display: none;
    display: flex;
}

.searchBdr .searchBox
{
    width: calc(100% - var(--navBarIconBoxWidth));  
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 2px solid #666666;
    transition: all 300ms ease;
}

.searchBdr .searchBox,
.searchBox:focus-within
{
    --navBarSearchClr: #c1c1c1;
    border-color: var(--navElementColor_green);
    border-radius: 5px;
    background-color: #111111;
}

.searchBox .searchInputBox
{
    position: relative;
    width: calc(100% - var(--navBarIconBoxWidth));
    height: 100%;
}

.searchInputBox .searchFieldClass
{
    font-family: 'Zen Dots' , sans-serif;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 10px calc(var(--navBarSearchWidth) + 15px) 10px 10px;
    color: var(--navBarSearchClr);
    font-size: 14px;
    background-color: transparent;
    transition: all 300ms ease;
}

.searchInputBox .clearSearchFieldIconBox
{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--navBarIconBoxWidth);
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.searchInputBox .clearSearchFieldIconBox.active
{
    display: flex;
}

.clearSearchFieldIconBox .clearSearchFieldIcon
{
    width: 12px;
    fill: var(--navBarSearchClr);
}

.searchIconBox
{
    width: var(--navBarIconBoxWidth);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIconBox .searchIcon
{
    width: var(--navBarIconWidth);
    fill: var(--navBarSearchClr);
}



/* ===== NAVBAR NOTIFICATION  ===== */

.openNavNotifyBox .navBarIcon
{
    display: none;
}

.openNavNotifyBox .openNavNotify.notify_atv,
.openNavNotifyBox .closeNavNotify.notify_atv
{
    display: flex;
}

.navBarNotificationBdr
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - var(--navBarHeight));
    height: 100%;
    background-color: #00000000;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 180;
}

.navBarNotificationBdr.notify_atv
{
    opacity: 1;
    visibility: visible;
}

.navBarNotificationBdr .navBarNotificationBcg
{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.navBarNotificationBdr .navBarNotificationMain
{
    position: absolute;
    top: calc(0% + var(--navBarNotificationPosT));
    right: calc(0% + var(--navBarNotificationPosR));
    width: calc(100% - 10px);
    height: 100%;
    max-height: calc(90% - var(--navBarHeight));
    max-width: 400px;
    min-height: 350px;
    backface-visibility: hidden;
    transition: all 150ms ease;
    z-index: 5;
}

.navBarNotificationMain.notify_atv
{
    --navBarNotificationPosR: 15px;
    opacity: 1;
    visibility: visible;
}

.navBarNotificationMain .navBarNotificationMinor
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 0 0 10px 0;
    border-radius: 10px;
    background-color: #1d1c1c;
    overflow: hidden;
}

.navBarNotificationMinor .navBarNotificationTitleBox
{
    width: 100%;
    height: var(--navBarNotificationTitleBoxHeight);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: var(--navBarDividerThickness) solid var(--navElementColor_green);
}

.navBarNotificationTitleBox
{
    color: var(--navBarGenClr);
    font-size: 14px;
}

.navBarNotificationMain .navBarNotificationSub
{
    width: 100%;
    height: calc(100% - var(--navBarNotificationTitleBoxHeight));
    overflow: hidden;
    overflow-y: visible;
    padding: 10px 10px 0px 10px;
}

.navBarNotificationSub .navBarNotificationBox
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.navBarNotificationBox .notifyCtntBox
{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    background-color: var(--navBarBcgSolid);
}






/* ======== NAV MENU ======= */

.nav_Menu_bdr
{
    position: fixed;
    right: 100%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: 300ms;
    z-index: 180;
}

.nav_Menu_bdr.bdr_atv
{
    right: 0%;
    visibility: visible;
    opacity: 1;
}

.nav_Menu_box
{
    position: relative;
    width: 100%;
    height: 100%;
}

.nav_Menu_bcg
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 1;
}

.nav_Opt_bcg
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    background-color: var(--navMenuBcgClr);
    transition: all 600ms ease-in-out;
    overflow: hidden;
    overflow-y: visible;
    scrollbar-gutter: stable;
    z-index: 5;
}

.nav_Opt_bcg:active
{
    overflow-y: visible;
}

.nav_Opt_bcg .navOptBdr
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    background-color: var(--navMenuBcgClr);
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navOptBdr .navOptDivider
{
    position: relative;
    width: 100%;
    border: none;
    border-bottom: var(--navBarDividerThickness) solid #03901d;
    border-bottom-right-radius: 15px;
}

.navOptBox.navOptHeaderBdr .navOptHeaderBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navOptIconBox
{
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navOptIconBox .navOptIcon
{
    width: 16px;
    fill: var(--navMenuPageActiveElementClr);
    cursor: pointer;
    transition: 300ms;
}

.navOptBox .navOptHead
{
    width: 100%;
    color: var(--navBarGenClr);
    font-size: 16px;
    padding: 10px;
}

.navOptLink
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 14px;
    padding: 15px 10px;
    cursor: pointer;
    position: relative;
}

.navOptLink.active{
    --navMenuPageActiveElementClr: #14d60d;
    background-color: #334334b8;
    border-radius: 10px;
}

.navOptLink:active
{
    --navMenuPageActiveElementClr: #14d60d;
}

.navOptLink .navOptTitle
{
    color: var(--navMenuPageActiveElementClr);
    width: 100%;
    text-align: left;
    transition: 300ms;
}


.navOptBox .navOptFooter
{
    padding: 10px 0;
}

.navOptFooter .navOptFooterBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navOptFooterBox .navfooterBoxSect1
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.navfooterBoxSect1 .navfooterBoxElements
{
    width: -moz-fit-content;
    width: fit-content;
    font-size: 10px;
    transition: 300ms ease;
    color: var(--navFooterElemColor);
    cursor: pointer;
}

.navfooterBoxElements:active
{
    color: var(--navFooterElemHoverColor);
}

.navnavOptFooterBox .navfooterBoxSect2
{
    width: 100%;
}

.navfooterBoxSect2 .navfooterCompNameBdr
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.navfooterCompNameBdr .navfooterCompNameBox
{
    display: flex;
    flex-direction: row;
}

.navfooterCompNameBox .navfooterCompIconBox
{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navfooterCompIconBox .navfooterCompIcon
{
    width: 10px;
    fill: var(--footerTxtClrMid);
}

.navfooterCompNameBdr .navfooterCompName
{
    width: -moz-fit-content;
    width: fit-content;
    color: var(--footerTxtClrMid);
    text-wrap: nowrap;
    font-size: 10px;
}



/* ====== Switch Account ====== */
.switchAccBdr
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    z-index: 110;
}

.switchAccBdr.active
{
    opacity: 1;
    visibility: visible;
}

.switchAccBdr .switchAccBcg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    z-index: -1;
    cursor: pointer;
}

.switchAccBdr .switchAccBox
{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: all 500ms ease-in-out;
    z-index: 2;
}

.switchAccBox.active
{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.switchAccBox .switchAccBoxCtnt
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background-color: #2f2e2e;
    overflow: hidden;
}

.switchAccBoxCtnt .switchAccHeader
{
    position: relative;
    width: 100%;
    height: var(--switchAccHeaderHeight);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #444444;
}

.switchAccHeader .switchAccHeaderText
{
    font-size: 16px;
    color: #dfdfdf;
    text-align: center;
}

.switchAccHeader .close_switchAccIconBox
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.close_switchAccIconBox .close_switchAccIcon,
.switchAcc_AddAccIconBox .switchAcc_AddAccBoxIcon
{
    width: 18px;
    fill: #cdcdcd;
}

.switchAccBoxCtnt .switchAccOptBcg
{
    width: 100%;
    height: calc(100% - var(--switchAccHeaderHeight));
    overflow-y: auto;
}

.switchAccOptBcg .switchAccOptBdr
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.switchAccOptBdr .switchAccOptBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.switchAccOptBdr .switchAccOptBox:hover
{
    background-color: #1d1c1c;
}

.switchAccOptBox .switchAccOptImgBox
{
    width: var(--switchAccOptImgBoxWidth);
    height: var(--switchAccOptImgBoxWidth);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #545454;
    overflow: hidden;
}

.switchAccOptImgBox .switchAccOptImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.switchAccOptBox .switchAccOptTextBox
{
    width: calc(100% - var(--switchAccOptImgBoxWidth));
    height: 100%;
    display: flex;
    align-items: center;
}

.switchAccOptTextBox .switchAccOptText
{
    color: #cdcdcd;
    font-size: 13px;
}





/* ======== FOOTER ======= */

.footer_base
{
    width: 100%;
    padding: 0 20px;
    background-color: var(--navBarBcgSolid);
    background-color: #1d1c1c;
    background-image: url(/Images/bcg_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
}

.footer_base .footer_bdr
{
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.footer_bdr .footer_box
{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.footer_box .footer_boxCtnt
{
    height: 100%;
}

.footer_box .footer_logoBox
{
    width: 125px;
    display: flex;
    justify-content: start;
}

.footer_logoBox .footer_logo
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
}

.footer_logo .lhead
{
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    color: var(--navElementColor_green);
    cursor: pointer;
}

.footer_logo .lname
{
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    display: flex;
    font-size: 30px;
    color: var(--footerTxtClrBright);
    cursor: pointer;
}

.footer_box .footer_abt
{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_boxCtnt .footer_abt_titleBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    text-align: left;
    padding: 0 0 10px;
}

.footer_abt_titleBox .footer_abt_title.front
{
    color: var(--footerTextClrGreen);
    font-size: 16px;
}

.footer_abt_titleBox .footer_abt_title.back
{
    color: var(--footerTxtClrBright);
    font-size: 13px;
}

.footer_abt_titleBox .footer_abt_textBox
{
    width: 100%;
}

.footer_abt_textBox .footer_abt_text
{
    width: 100%;
    color: var(--footerTxtClrMid);
    font-size: 11px;
    margin: 0 0 40px 0;
}

.footer_abt .footer_Important_linksBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 10px;
}

.footer_Important_linksBox .footer_Important_links
{
    display: flex;
    align-items: center;
    color: var(--footerTextClrGreen);
    font-size: 10px;
    text-align: left;
    transition: 200ms ease-in-out;
}

.footer_Important_links:hover
{
    color: var(--footerTxtClrBright);
}

.footer_box .footer_OtherLinks
{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_OtherLinks .footer_UsefulLinksBdr
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 40px;
}

.footer_UsefulLinksBdr .footer_UsefulLinksBox
{
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_UsefulLinksBox .footer_UsefulLinks
{
    width: 100%;
    color: var(--footerTxtClrMid);
    font-size: 10px;
    transition: 200ms ease-in-out;
}

.footer_UsefulLinks:hover
{
    color: var(--footerTxtClrBright);
}

.backtotopofpageBox
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.backtotopofpageBox .backtotop
{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    background-color: #03901d;
    transition: 150ms;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.backtotop:active
{
    transform: scale(0.98);
}

.backtotop .backtotop_IconBox
{
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtotop_IconBox .backtotop_Icon
{
    width: 12px;
    fill: var(--footerTxtClrBright);
}

.backtotop_textBox .backtotop_text
{
    color: var(--footerTxtClrBright);
    font-size: 12px;
}







/* ====== A general notification ====== */
.notifyBdr
{
    position: fixed;
    left: 0%;
    bottom: 0;
    display: none;
    width: 100%;
    margin: 20px;
    justify-content: center;
    align-content: center;
    transition: 300ms;
    z-index: 140;
    cursor: pointer;
}

.notifyBdr .NotifyMe
{
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    background: #3d3d3d;
    padding: 20px 30px;
    color: #ebebeb;
    font-size: 10px;
    border-radius: 15px;
    border-bottom: 2px solid #14d60d;
}

.NotifyAtv
{
    display: flex;
}



@media(hover: hover)
{
    .navBarIconBox .navBarIcon:hover
{
    fill: var(--navElementColor_green);
}

.navBarProfileBox:hover
{
    padding: 2px;
}

.navBarProfileOptBox .navBarProfileOpt:hover
{
    --navBarProfileOptLinkClr: var(--navElementColor_green);
    background-color: #3d3d3d;
}

.nav_Opt_bcg:hover
{
    overflow-y: visible;
}

.navOptLink:hover
{
    --navMenuPageActiveElementClr: #14d60d;
}

.navfooterBoxElements:hover
{
    color: var(--navFooterElemHoverColor);
}


}









/* ========= Responsive ========= */

/* ----- Height ----- */
@media only screen and (max-height: 300px)
{}


/* -------- Width ------ */

@media only screen and (max-width: 884px)
{

    .footer_bdr .footer_box
    {
        flex-direction: column;
        gap: 35px;
    }

    .footer_bdr .footer_boxCtnt
    {
        width: 100%;
    }

    .footer_abt_textBox .footer_abt_text
    {
        margin: 0 0 20px 0;
    }
}


@media only screen and (max-width: 768px)
{

    .searchBdr.navBarSearchBdr
    {
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 100%;
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
    }

    .searchBdr.navBarSearchBdr.active
    {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    
    .searchBdr .closeNavSearch_BtnBox
    {
        display: flex;
    }

    .searchBdr .searchBox
    {
        width: calc(100% - var(--navBarIconBoxWidth));
    }

    .navBarNotificationMain.notify_atv
    {
        --navBarNotificationPosR: 5px;
    }

}


/* =============== NON-TOUCH SCREENS ============== */

@media(hover: hover)
{
    ::-webkit-scrollbar
    {
        display: block;
        width: 7px;
        height: 7px;
        pointer-events: none;
    }
    ::-webkit-scrollbar
    {
        display: block;
        width: 8px;
        height: 8px;
        pointer-events: none;
    }

    ::-webkit-scrollbar-corner
    {
        background-color: #000;
    }

    ::-webkit-scrollbar-track
    {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb{
        background-color: var(--scrollbarClr);
    }

    ::-webkit-scrollbar-thumb:hover
    {
        background-color: var(--scrollbarHoverClr);
    }

    ::-webkit-scrollbar-thumb:active
    {
        background-color: var(--scrollbarActiveClr);
    }

    /* ----- Navbar Notification ----- */

    .navBarNotificationSub::-webkit-scrollbar
    {
        width: 5px;
    }

    .navBarNotificationSub::-webkit-scrollbar-thumb
    {
        background-color: #444444;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .navBarNotificationSub::-webkit-scrollbar-thumb:hover
    {
        background-color: #666666;
    }

    .navBarNotificationSub::-webkit-scrollbar-thumb:active
    {
        background-color: #888888;
    }
}
