/*************************************************************
 * This is the style for the landing page of Uvid
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/


html:root
{
    --actionJoinGradientAngle: 30deg;
    --featureCardBdrRadius: 5px 5px 75px 5px;
    --ftrCardFrontTransform: 15px;
}



/* ----------- Welcome ----------- */
.welcome_landBcg
{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    max-height: 1000px;
    background-image: url(/Images/Uvid_bcg0.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment:scroll;
}

.welcome_landBcg .welcome_landBcgImgBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: -1;
}

.welcome_landBcgImgBox .welcome_landBcgImg
{
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    min-width: 100%;
    min-height: 100%;
    object-position: center;
    object-fit: cover;
}

@supports (background-attachment: fixed)
{
    .welcome_landBcg
    {
        background-size: cover;
        background-attachment: fixed;
    }
}
  
@supports not (-webkit-touch-callout: none)
{
    .welcome_landBcg
    {
        background-size: cover;
        background-attachment: fixed;
    }
}

@supports (-webkit-touch-callout: none)
{
    .welcome_landBcg .welcome_landBcgImgBox
    {
        display: block;
    }

    .welcome_landBcg
    {
        background-image: none;
    }
}

.welcome_landBcg .welcome_landBdr
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
}

.welcome_landBdr::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: -o-linear-gradient(to top, #000000ef, #000000dc, #000000ab, #00000075, #00000038, #00000000);
    background: -moz-linear-gradient(to top, #000000ef, #000000dc, #000000ab, #00000075, #00000038, #00000000);
    background: -webkit-linear-gradient(to top, #000000ef, #000000dc, #000000ab, #00000075, #00000038, #00000000);
    background: linear-gradient(to top, #000000ef, #000000dc, #000000ab, #00000075, #00000038, #00000000);
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.welcome_landBdr .welcome_landBox
{
    width: 100%;
    max-width: 700px;
    height: fit-content;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome_landBox .welcome_landTextMajorBox
{
    width: 100%;
}

.welcome_landTextMajorBox .welcome_landTextMajor
{
    color: var(--color8);
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.welcome_landTextMajor span
{
    color: var(--color1);
}

.welcome_landBox .welcome_landTextMinorBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color2);
    font-size: 15px;
    text-align: center;
}

.welcome_landBox .propmpt_AccActionBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.propmpt_AccActionBdr .propmpt_AccActionBox
{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.propmpt_AccActionBox .propmpt_AccActionBtnBox
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.propmpt_AccActionBtnBox:active
{
    transform: scale(0.96);
}

.propmpt_AccActionBtnBox.action_Join
{
    color: var(--color6);
    background: -o-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7) 45%);
    background: -moz-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7) 45%);
    background: -webkit-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7) 45%);
    background: linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7) 45%);
    background-size: 200%;
    transition: all 300ms ease-in-out;
}

.propmpt_AccActionBtnBox.action_Join:active
{
    color: var(--color2);
    background-position: bottom;
}

.propmpt_AccActionBtnBox.action_GetPremium
{
    color: var(--color1);
    border: 2px solid var(--color1);
    background-color: #00000050;
}

.propmpt_AccActionBtnBox.action_GetPremium:active
{
    color: var(--color6);
    border-color: var(--color7);
    background-color: #00000090;
}



/* ============= FEATURES ============ */

.feature_ItemsBcg
{
    width: 100%;
}

.feature_ItemsBdr
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.feature_ItemsBdr .feature_ItemsBox
{
    width: 100%;
    height: 100%;
    max-width: 1600px;
}

.feature_ItemsBox .feature_ItemsContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px;
}

.feature_cardBaseBdr
{
    width: 320px;
    height: 400px;
    z-index: 5;
}

.feature_cardBaseBdr .feature_cardBaseBox
{
    position: relative;
    width: 100%;
    height: 100%;
}

.feature_cardBaseBox .feature_card
{
    display: flex;
    flex-direction: column;
    gap: 0;
    transition: all 300ms ease;
}

.feature_card.feature_cardUnder
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: var(--featureCardBdrRadius);
    filter: brightness(0.75);
    background: -o-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7), var(--color7), var(--color7));
    background: -moz-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7), var(--color7), var(--color7));
    background: -webkit-linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7), var(--color7), var(--color7));
    background: linear-gradient(var(--actionJoinGradientAngle), var(--color1), var(--color7), var(--color7), var(--color7));
    z-index: -1;
}

.feature_card.feature_cardFront
{
    width: 100%;
    height: 100%;
    border-radius: var(--featureCardBdrRadius);
    background-color: #1a1a1a;
    transform: translate( var(--ftrCardFrontTransform), var(--ftrCardFrontTransform));
    z-index: 3;
}

.feature_card .feature_cardCtnt
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.feature_cardCtnt .feature_header
{
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature_header .fh_Major
{
    color: var(--color1);
    font-size: 25px;
}

.feature_header .fh_Minor
{
    color: var(--color6);
    font-size: 20px;
}

.feature_cardCtnt .feature_body
{
    width: 100%;
    padding: 15px 10px;
    color: var(--color9);
    font-size: 15px;
    line-height: 25px;
}



/* ========== Device Support =========== */

.streamBase
{
    width: 100%;
}

.streamBase .streamBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.streamBdr .streamBox
{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.feature_ItemsBox .feature_TitleBox,
.streamBox .streamHeader
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.feature_TitleBox .ftrTitle,
.streamHeader .streamTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color6);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.feature_TitleBox .ftrSubTitle,
.streamHeader .streamSubTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color6);
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.streamBox .streamSampleBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.streamSampleBdr .streamSampleBox
{
    width: 100%;
    max-height: 735px;
    padding: 10px 20px;
}

.streamSampleBox .streamSampleImg
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}



/* ============= Prompt Register ============ */
.prompt_regBase
{
    width: 100%;
}

.prompt_regBase .prompt_regBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.prompt_regBdr .prompt_regBox
{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.prompt_regBox .prompt_regText
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color6);
    font-size: 18px;
    text-align: center;
}

.prompt_regBox .propmpt_AccActionBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* ========== FAQ =========== */
.questions_base
{
    width: 100%;
}

.questions_base .questions_bdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.questions_bdr .questions_box
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.questions_box .questions_Header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: var(--color6);
    font-size: 25px;
    text-align: center;
}

.questions_box .questions_Body
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 50px;
}

.questions_Body .questions_Card
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--color3);
    overflow: hidden;
}

.questions_Card .questions_CardBtn
{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.questions_CardBtn:active
{
    background-color: var(--color11);
}

.questions_CardBtn .questions_CardAsk
{
    display: flex;
    flex-direction: row;
    text-align: left;
    text-align-last: left;
    font-size: 18px;
    line-height: 20px;
}

.questions_CardAsk .qca_Major
{
    color: var(--color1);
    font-size: 20px;
}

.questions_CardAsk .qca_Minor
{
    color: var(--color9);
    font-size: 18px;
}

.questions_CardBtn .questions_CardIconBox
{
    position: relative;
    width: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions_CardIconBox .questions_CardIcon
{
    width: 3px;
    height: 15px;
    background-color: var(--color9);
    transition: all 150ms ease-in-out;
}

.questions_CardIcon::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 3px;
    background-color: var(--color9);
    transform: translate(-50%, -50%);
    transition: all 150ms ease-in-out;
}

.questions_Card.active .questions_CardIcon
{
    transform: rotate(270deg);
}

.questions_Card.active .questions_CardIcon::after
{
    display: none;
}

.questions_Card .questions_CardTextBox
{
    width: 100%;
    height: 0px;
    max-height: fit-content;
    padding: 0 25px;
    transition: all 150ms ease-in-out;
    overflow: hidden;
}

.questions_Card.active .questions_CardTextBox
{
    height: 100%;
    padding: 25px;
}

.questions_CardTextBox .questions_CardText
{
    width: 100%;
    height: 100%;
    color: var(--color10);
    font-size: 15px;
    line-height: 22px;
}

.questions_box .questions_footerBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 50px;
    color: var(--color10);
    font-size: 12px;
    line-height: 18px;
}







@media(hover: hover)
{
    .genBtn:hover
    {
        box-shadow: 0 0 20px var(--color1);
    }

    .propmpt_AccActionBtnBox.action_Join:hover
    {
        color: var(--color2);
        background-position: bottom;
    }

    .propmpt_AccActionBtnBox.action_GetPremium:hover
    {
        color: var(--color6);
        border-color: var(--color7);
        background-color: #00000090;
    }

    .feature_cardBaseBox:hover .feature_card.feature_cardUnder
    {
        top: var(--ftrCardFrontTransform);
        left: var(--ftrCardFrontTransform);
    }

    .feature_cardBaseBox:hover .feature_card.feature_cardFront
    {
        --ftrCardFrontTransform: 0px;
        background-color: #222222;
    }

    .questions_CardBtn:hover
    {
        background-color: var(--color11);
    }
}






/* ====== ======== ======= Responsive= ===========  == == */



/* ------------- Height ------------ */


/*  ----------- ---- Width ---- --------- */

@media only screen and (min-width: 2500px)
{
    .welcome_landBdr .welcome_landBox
    {
        max-width: 1500px;
        gap: 50px;
    }

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 65px;
    }

    .welcome_landTextMinorBox .welcome_landTextMinor
    {
        font-size: 20px;
    }

    .propmpt_AccActionBdr .propmpt_AccActionBox
    {
        max-width: 1050px;
    }

    .propmpt_AccActionBox .propmpt_AccActionBtnBox
    {
        height: 60px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 2500px)
{

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 55px;
    }

    .welcome_landTextMinorBox .welcome_landTextMinor
    {
        font-size: 19px;
    }

    .propmpt_AccActionBdr .propmpt_AccActionBox
    {
        max-width: 550px;
    }

    .propmpt_AccActionBox .propmpt_AccActionBtnBox
    {
        height: 60px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1100px)
{

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 45px;
    }

    .welcome_landTextMinorBox .welcome_landTextMinor
    {
        font-size: 17px;
    }

    .propmpt_AccActionBox .propmpt_AccActionBtnBox
    {
        height: 55px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 884px)
{

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 35px;
    }

    .welcome_landTextMinorBox .welcome_landTextMinor
    {
        font-size: 15px;
    }

    .propmpt_AccActionBox .propmpt_AccActionBtnBox
    {
        height: 50px;
        font-size: 13px;
    }

    .feature_cardBaseBdr
    {
        width: 260px;
        height: 300px;
    }

    .propmpt_AccActionBdr .propmpt_AccActionBox
    {
        /* max-width: 300px; */
    }

    .propmpt_AccActionBox .propmpt_AccActionBtnBox
    {
        height: 40px;
        font-size: 13px;
    }

    .feature_header .fh_Major
    {
        font-size: 22px;
    }
    
    .feature_header .fh_Minor
    {
        font-size: 17px;
    }
    
    .feature_cardCtnt .feature_body
    {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }

    .feature_TitleBox .ftrTitle,
    .streamHeader .streamTitle
    {
        font-size: 18px;
    }

    .feature_TitleBox .ftrSubTitle,
    .streamHeader .streamSubTitle
    {
        font-size: 11px;
    }

    .prompt_regBox .prompt_regText
    {
        font-size: 13px;
    }

    .questions_CardAsk .qca_Major
    {
        font-size: 18px;
    }

    .questions_box .questions_Header
    {
        font-size: 19px;
        padding: 10px;
    }

    .questions_CardAsk .qca_Minor
    {
        font-size: 15px;
    }

    .questions_CardTextBox .questions_CardText
    {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px)
{
    html:root
    {
        --ftrCardFrontTransform: 10px;
        --featureCardBdrRadius: 5px 5px 5px 5px;
    }

    .welcome_landBdr .welcome_landBox
    {
        padding: 0 12px;
    }

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 24px;
    }

    .propmpt_AccActionBdr .propmpt_AccActionBox
    {
        max-width: 300px;
    }

    .feature_cardBaseBdr
    {
        width: 100%;
        height: 250px;
    }

    .feature_cardBaseBox:hover .feature_card.feature_cardUnder
    {
        top: 0;
        left: 0;
    }

    .feature_card.feature_cardFront
    {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        transform: translate(10px,10px);
    }
    .questions_box .questions_Body
    {
        padding: 10px;
    }
    
    .questions_Card .questions_CardTextBox
    {
        padding: 0px 20px;
    }

    .questions_box .questions_footerBox
    {
        padding: 20px;
    }
}


@media only screen and (max-width: 350px)
{

    .welcome_landTextMajorBox .welcome_landTextMajor
    {
        font-size: 20px;
    }

    .welcome_landTextMinorBox .welcome_landTextMinor
    {
        font-size: 12px;
    }
}































