/***********************************************************************************************
* This will hold the styling for the Schedule page
* 
* @author (Anyanwu Benedict Chukwuemeka)
* @version (v0.01)
*
************************************************************************************************/

html:root
{
    --viewSelectorsBtnSize: 50px;
    --viewSelectorsBtnIconSize: 25px;
    --schedule_ctntGridColW: 360px;
    --schedule_ctntThumbnailImgW: 125px;
    --schedule_ctntThumbnailImgH: 200px;
    --schedule_ctntDetDescTextClr: var(--navOptionColor);
}

.schedule_base
{
    width: 100%;
}

.schedule_base .schedule_bdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.schedule_bdr .schedule_box
{
    width: 100%;
    max-width: var(--genMaxContainerWidth);
    display: flex;
    flex-direction: column;
    padding: var(--btmNavBarHeight) var(--genBorderSpacing);
}







/* =================== SELECTORS ==================== */

/* ----------- View all selectors Button -------- */
.viewSelectorsBtnBdr
{
    position: fixed;
    bottom: calc((var(--btmNavBarHeight) + var(--genBorderSpacing)));
    right: var(--genBorderSpacing);
    display: none;
    width: var(--viewSelectorsBtnSize);
    height: var(--viewSelectorsBtnSize);
    border-radius: 50%;
    background-color: var(--genGreenTypeMid);
    overflow: hidden;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 101;
}

.viewSelectorsBtnBdr.isScrollingDown
{
    --btmNavBarHeight: 0px;
}

.viewSelectorsBtnBdr .viewSelectorsBtnBox
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewSelectorsBtnBox .viewSelectorsBtnIcon
{
    width: var(--viewSelectorsBtnIconSize);
    height: var(--viewSelectorsBtnIconSize);
}

.viewSelectorsBtnIcon .viewSelectorsBtnSvg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    fill: var(--genWhiteTypeLight);
}

.viewSelectorsBtnBdr .viewSelectorsBtnSvg:nth-child(1)
{
    display: block;
}

.viewSelectorsBtnBdr .viewSelectorsBtnSvg:nth-child(2)
{
    display: none;
}

.viewSelectorsBtnBdr.menuOpen .viewSelectorsBtnSvg:nth-child(1)
{
    display: none;
}

.viewSelectorsBtnBdr.menuOpen .viewSelectorsBtnSvg:nth-child(2)
{
    display: block;
}



/* -------------- Selector Wrapper ---------- */
.schedule_selBase
{
    width: 100%;
}

.schedule_selBase.sticky
{
    margin-bottom: var(--selBtmMargin);
}

.schedule_selBase .schedule_selBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.schedule_selBase.sticky .schedule_selBdr
{
    position: fixed;
    top: 0;
    right: 0;
    width: calc((100% - var(--sideNavBarWidth)));
    margin-bottom: 0;
    background: -o-linear-gradient(to bottom, #000000fe, #000000ef, #000000dc, #000000cd, #00000050, #00000000);
    background: -moz-linear-gradient(to bottom, #000000fe, #000000ef, #000000dc, #000000cd, #00000050, #00000000);
    background: -webkit-linear-gradient(to bottom, #000000fe, #000000ef, #000000dc, #000000cd, #00000050, #00000000);
    background: linear-gradient(to bottom, #000000fe, #000000ef, #000000dc, #000000cd, #00000050, #00000000);
    transition: 0ms;
    z-index: 101;
}

.schedule_selBdr .schedule_selBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.schedule_selBase.sticky .schedule_selBox
{
    max-width: var(--genMaxContainerWidth);
    padding: 0 var(--genBorderSpacing);
}




/* --------------- Fitler Section ---------------- */

.schedule_selBox .schedule_filterBdr
{
    width: 100%;
    height: var(--filterHeight);
    overflow: hidden;
}

.schedule_selBase.sticky .schedule_filterBdr
{
    height: 0px;
    transition: all 150ms ease-in-out;
}

.schedule_filterBdr .schedule_filterBox
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0 10px;
}

.schedule_filterBox .schedule_filterDivider
{
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 7px;
    border-radius: 25px;
    background-color: #222222;
}

.schedule_filterDivider .schedule_filterTab
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    border-radius: 25px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.schedule_filterTab:active
{
    background-color: #333333;
}

.schedule_filterTab.active
{
    color: var(--genWhiteTypeLight);
    background-color: var(--genGreenTypeMid) !important;
}






/* -------------- Date Section -------------- */

.schedule_box .schedule_dateBdr
{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
}

.schedule_dateBdr .schedule_dateBox
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* -------- Date Borders --------- */
.schedule_dateBox .schedule_dateAllBorder
{
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: red;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 3;
}

.schedule_dateAllBorder.hide
{
    opacity: 0;
    visibility: hidden;
}

.schedule_dateAllBorder.schedule_dateLeftBorder
{
    left: 0;
    background: linear-gradient(to right, #000000, #00000000);
}

.schedule_dateAllBorder.schedule_dateRightBorder
{
    right: 0;
    background: linear-gradient(to left, #000000, #00000000);
}



/* ------------ Date Sliders --------- */

.schedule_dateBox .schedule_dateSlider
{
    width: 100%;
    max-width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 25px;
    scrollbar-width: none;
    overflow: auto hidden;
    cursor: grab;
    z-index: 2;
}

.schedule_dateSlider.isDateSliderDown,
.schedule_dateSlider.isDateSliderDown .schedule_dateCard
{
    cursor: grabbing;
}

.schedule_dateSlider .schedule_dateCard
{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    cursor: pointer;
}

.schedule_dateCard .schedule_dateMinorBdr
{
    width: 100%;
    margin-bottom: 5px;
}

.schedule_dateMinorBdr .schedule_dateMinorBox
{
    width: 100%;
    height: 100%;
}

.schedule_dateMinorBox .schedule_dateMinorText
{
    font-family: 'Poppins' , san-serif;
    font-weight: 600;
    color: var(--genWhiteTypeMid);
    font-size: 14px;
    transition: all 300ms ease-in-out;
}

.schedule_dateCard:active .schedule_dateMinorText
{
    color: var(--genWhiteTypeMid2);
}

.schedule_dateCard.curr_day .schedule_dateMinorText
{
    color: var(--genWhiteTypeLight) !important;
}

.schedule_dateCard .schedule_dateMajorBdr
{
    position: relative;
    width: 100%;
}

.schedule_dateMajorBdr::after
{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2.5px;
    border-radius: 10px;
    background-color: var(--genWhiteTypeLight);
    transform: translateY(75%);
    transition: all 300ms ease-in-out;
}

.schedule_dateCard.curr_day .schedule_dateMajorBdr::after
{
    width: 100%;
}

.schedule_dateMajorBdr .schedule_dateMajorBox
{
    width: 100%;
}

.schedule_dateMajorBox .schedule_dateMajorText
{
    color: var(--genGreenTypeMid2);
    font-size: 22px;
    transition: all 300ms ease-in-out;
}

.schedule_dateCard.curr_day .schedule_dateMajorText
{
    color: var(--genGreenTypeLight) !important;
}

.schedule_dateCard:active .schedule_dateMajorText
{
    color: var(--genGreenTypeMid);
}






/* ------------ Content Section -------------- */

.schedule_box .schedule_ctntBdr
{
    width: 100%;
    transition: all 300ms ease-in-out;
}

.schedule_ctntBdr .schedule_ctntBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.schedule_ctntBox .schedule_ctntGrid
{
    width: 100%;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(var(--schedule_ctntGridColW), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 15px;
    transition: 100ms;
}

.schedule_ctntGrid.curr_day
{
    display: grid;
}

.schedule_ctntGrid .schedule_ctntCardBdr
{
    width: 100%;
    display: block;
    padding: 15px;
    border-radius: 10px;
    background-color: #171717;
    transition: all 300ms ease-in-out;
}

.schedule_ctntCardBdr.inactive
{
    display: none;
}

.schedule_ctntCardBdr:active
{
    background-color: #222222;
}

.schedule_ctntCardBdr .schedule_ctntCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.schedule_ctntCardBox .schedule_ctntThumbnailBdr
{
    width: var(--schedule_ctntThumbnailImgW);
    height: var(--schedule_ctntThumbnailImgH);
}

.schedule_ctntThumbnailBdr .schedule_ctntThumbnailBox
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.schedule_ctntThumbnailBox .schedule_ctntThumbnailImg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    object-position: center;
    object-fit: cover;
}

.schedule_ctntCardBox .schedule_ctntDetBdr
{
    width: calc((100% - var(--schedule_ctntThumbnailImgW)));
}

.schedule_ctntDetBdr .schedule_ctntDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.schedule_ctntDetBox .schedule_ctntDetTitleBox
{
    width: 100%;
}

.schedule_ctntDetTitleBox .schedule_ctntDetTitleText
{
    --trendingDetTitleTextNo: 2;
    --trendingDetTitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--trendingDetTitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--trendingDetTitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--trendingDetTitleTextNo) * 1em * var(--trendingDetTitleTextH));
    line-height: var(--trendingDetTitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeLight);
    font-size: 18px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.schedule_ctntDetBox .schedule_ctntDetEpBox
{
    width: 100%;
    margin: 12px 0;
}

.schedule_ctntDetEpBox .schedule_ctntDetEpText
{
    color: var(--genGreenTypeLight2);
    font-weight: 500;
    font-size: 14px;
}

.schedule_ctntDetBox .schedule_ctntDetDescBox
{
    width: 100%;
}

.schedule_ctntDetDescBox .schedule_ctntDetDescText
{
    --trendingDetDescTextNo: 3;
    --trendingDetDescTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--trendingDetDescTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--trendingDetDescTextNo);
    display: -webkit-box;
    max-height: calc(var(--trendingDetDescTextNo) * 1em * var(--trendingDetTitleTextH));
    line-height: var(--trendingDetDescTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    overflow-wrap: break-word;
    overflow: hidden;
}






@media(hover: hover)
{

    .schedule_selBase.sticky:hover .schedule_selBdr
    {
        background: #000000;
    }

    .schedule_selBase.sticky:hover .schedule_filterBdr
    {
        height: var(--filterHeight);
        transition: all 300ms ease-in-out;
    }

    .schedule_filterTab:hover
    {
        background-color: #333333;
    }

    .schedule_dateCard:hover .schedule_dateMinorText
    {
        color: var(--genWhiteTypeMid2);
    }

    .schedule_dateCard:hover .schedule_dateMajorText
    {
        color: var(--genGreenTypeMid);
    }

    .schedule_ctntCardBdr:hover
    {
        background-color: #222222;
    }
}



/* ================== RESPONSIVENESS ================== */

@media only screen and (max-width: 768px)
{

    .viewSelectorsBtnBdr.active
    {
        display: block;
    }

    .viewSelectorsBtnBdr.menuOpen
    {
        --btmNavBarHeight: 0px;
    }

    .schedule_selBase.sticky .schedule_selBdr
    {
        height: 0px;
        opacity: 0;
        visibility: hidden;
        background: none;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .schedule_selBase.sticky:hover .schedule_selBdr
    {
        background: none;
    }

    .schedule_selBase.sticky .schedule_selBdr.active
    {
        height: 100%;
        opacity: 1;
        visibility: visible;
        transition: all 300ms ease-in-out;
    }

    .schedule_selBase.sticky .schedule_selBox
    {
        height: 100%;
        padding: 0;
        background-color: #000000;
    }

    .schedule_selBase.sticky .schedule_filterBdr
    {
        height: var(--filterHeight);
    }

    .schedule_selBase.sticky .schedule_dateAllBorder
    {
        opacity: 0;
        visibility: hidden;
    }

    .schedule_selBase.sticky .schedule_dateBdr
    {
        height: calc((100% - var(--filterHeight)));
        margin: 0;
    }

    .schedule_selBase.sticky .schedule_dateBox
    {
        height: 100%;
    }

    .schedule_selBase.sticky .schedule_dateSlider
    {
        max-width: none;
        height: 100%;
        flex-direction: column;
        padding: 0 var(--genBorderSpacing);
        overflow: hidden auto;
    }

    .schedule_selBase.sticky .schedule_dateCard
    {
        max-width: fit-content;
    }

    .schedule_selBase.sticky .schedule_dateSlider
    {
        scrollbar-width: unset;
    }
}


@media only screen and (max-width: 485px)
{
    html:root
    {
        --schedule_ctntThumbnailImgW: 100px;
        --schedule_ctntThumbnailImgH: 150px;
    }

    .schedule_filterDivider .schedule_filterTab
    {
        font-size: 11px;
    }

    .schedule_dateMinorBox .schedule_dateMinorText
    {
        font-size: 12px;
    }

    .schedule_dateMajorBox .schedule_dateMajorText
    {
        font-size: 18px;
    }

    .schedule_ctntBox .schedule_ctntGrid
    {
        grid-template-columns: 100%;
    }

    .schedule_ctntGrid .schedule_ctntCardBdr
    {
        padding: 10px;
    }

    .schedule_ctntDetBdr .schedule_ctntDetBox
    {
        padding-left: 10px;
    }

    .schedule_ctntDetTitleBox .schedule_ctntDetTitleText
    {
        font-size: 16px;
    }

    .schedule_ctntDetBox .schedule_ctntDetEpBox
    {
        margin: 7px 0;
    }

    .schedule_ctntDetEpBox .schedule_ctntDetEpText
    {
        font-size: 12px;
    }

    .schedule_ctntDetDescBox .schedule_ctntDetDescText
    {
        --trendingDetDescTextNo: 2;
        font-size: 11px;
    }
}