/*************************************************************
 * This is the style for the User Profile pages
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/



html:root
{
    --userProfFrgImgSize: 125px;
    --userProfDetOthClrs: var(--genWhiteTypeDark);
}

.userProfBodyBdr .userBodyBox
{
    max-width: calc((var(--genMaxContainerWidth) / 1.75));
}


.userProfInfoBdr
{
    width: 100%;
    padding: 0 var(--genBorderSpacing);
}

.userProfInfoBdr .userProfInfoBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background: linear-gradient(to bottom, #171717 , #151515 , #111111);
}

.userProfInfoBox .userProfFrgSect
{
    width: 100%;
}

.userProfFrgSect .userProfFrgBase
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfFrgBase .userProfFrgBdr
{
    position: relative;
    width: var(--userProfFrgImgSize);
    height: var(--userProfFrgImgSize);
    border-radius: 50%;
    border: 2.5px solid var(--genGreenTypeMid);
    cursor: pointer;
}

.userProfFrgBdr .editProfileBadgeBdr
{
    display: flex;
}

.userProfFrgBdr .userProfFrgBox
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.userProfFrgBox .userProfFrgImg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    object-position: center;
    object-fit: cover;
}

.userProfDetSect
{
    width: 100%;
}

.userProfDetSect .userProfDetBdr
{
    width: 100%;
}

.userProfDetBdr .userProfDetBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userProfDetBox .userProfDetTab
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.userProfDetTab .userProfDetMajorBox
{
    width: 100%;
    margin-bottom: 15px;
}

.userProfDetMajorBox .userProfDetMajorText
{
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--genGreenTypeMid);
}

.userProfDetTab .userProfDetMinorBox
{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #262626;
}

.userProfDetMinorBox.userProfDetMinorInputField
{
    font-family: 'Zen dots' , sans-serif;
    font-size: 13px;
    color: var(--genWhiteTypeMid2);
    outline: none;
    border: none;
    /* border-bottom: 2px solid var(--genWhiteTypeDark); */
    transition: all 300ms ease-in-out;
}

.userProfDetMinorInputField:focus
{
    border-color: var(--genGreenTypeMid);
}

.userProfDetMinorBox .userProfDetMinorText
{
    color: var(--genWhiteTypeMid2);
    font-size: 13px;
    letter-spacing: 0.5px;
}

.userProfDetTab .userProfDetOthBdr
{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 12px;
}

.userProfDetOthBdr .userProfDetOthBox
{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.userProfDetEditBtnBox
{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.userProfDetEditBtnBox .userProfDetEditBtnText
{
    font-size: 16px;
}



/* -------- Other Ctnt and sub menu ------- */


.userProfFrgBdr .userProfEditOptBdr
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 225px;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50% , -50%) scale(0.00);
    transition: all 300ms ease-in-out;
}

#toggleUserProfEditOptBdr
{
    position: absolute;
    left: -1000%;
    top: -1000%;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.userProfEditOptBdr:has(+ #toggleUserProfEditOptBdr:checked)
{
    opacity: 1;
    visibility: visible;
    transform: translate(0% , 0%) scale(1.00);
}

.userProfEditOptBdr .userProfEditOptBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #222222;
}

.userProfEditOptBox .userProfEditOptTab
{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.userProfEditOptTab:active,
.userProfDetOthBox:active
{
    --userProfDetOthClrs: var(--genWhiteTypeMid);
}

.userProfEditOptTab .userProfEditOptIcon,
.userProfDetOthBox .userProfDetOthIcon
{
    width: 16px;
    fill: var(--userProfDetOthClrs);
    transition: all 300ms ease-in-out;
}

.userProfEditOptTab .userProfEditOptText,
.userProfDetOthBox .userProfDetOthText
{
    width: -moz-fit-content;
    width: fit-content;
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--userProfDetOthClrs);
    margin-left: 10px;
    transition: all 300ms ease-in-out;
}



/* ---------- Mouse hover on pc -------- */
@media(hover: hover)
{

    .userProfEditOptTab:hover,
    .userProfDetOthBox:hover
    {
        --userProfDetOthClrs: var(--genWhiteTypeMid);
    }
}





/* =================== RESPONSIVENESS =============== */


@media only screen and (max-width: 485px)
{
    .userProfInfoBdr
    {
        padding: 0;
    }

    .userProfInfoBdr .userProfInfoBox
    {
        padding: 30px var(--genBorderSpacing);
    }
    
    .userProfDetBox .userProfDetTab
    {
        margin-bottom: 20px;
    }

    .userProfDetTab .userProfDetMajorBox
    {
        margin-bottom: 10px;
    }

    .userProfFrgBdr .userProfEditOptBdr
    {
        transform: translate(-50% , -50%) scale(0.00);
    }

    .userProfEditOptBdr:has(+ #toggleUserProfEditOptBdr:checked)
    {
        transform: translate(-50% , 0%) scale(1.00);
    }

    .userProfEditOptTab .userProfEditOptIcon,
    .userProfDetOthBox .userProfDetOthIcon
    {
        width: 14px;
    }

    .userProfEditOptTab .userProfEditOptText,
    .userProfDetOthBox .userProfDetOthText
    {
        font-size: 13px;
        margin-left: 7px;
    }
}



