/*************************************************************
 * This is the style for the User Settings pages
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/ 



html:root
{
    --settingNavBdrWidth: 20.3125rem;
    --settingNavBoxWidth: 17.5rem;
    --settingTopPadding: 7rem;
}



.settingBdr
{
    width: 100%;
}

.settingBdr .settingBox
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0 var(--genBorderSpacing);
}






/* ========= SETTING SECTOR NAV ======== */
.settingBox .settingNavBdr
{
    position: fixed;
    top: 0;
    left: calc((var(--sideNavBarWidth) + var(--genBorderSpacing)));
    width: var(--settingNavBdrWidth);
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.settingNavBdr.hidden
{
    --settingNavBdrWidth: 0rem;
    opacity: 0;
    visibility: hidden;
}

.settingNavBdr .settingNavBox
{
    width: var(--settingNavBoxWidth);
    display: flex;
    flex-direction: column;
    padding-top: var(--settingTopPadding);
}

.settingNavBox .settingNavTitleBox
{
    width: 100%;
    margin-bottom: 0.75rem;
}

.settingNavTitleBox .settingNavTitleText
{
    color: var(--genWhiteTypeMid);
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
}

.settingNavBox .settingNavOptBox
{
    --settingNavOptClr: var(--genWhiteTypeLight);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.75rem;
    outline: none;
    border: none;
    border-radius: 0.3125rem;
    background-color: #00000000;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.settingNavOptBox.active 
{
    --settingNavOptClr: var(--genGreenTypeLight);
    background-color: #ffffff15;
}

.settingNavOptBox .settingNavOptIcon
{
    width: 1.5625rem;
    height: 1.5625rem;
}

.settingNavOptIcon .settingNavOptSvg
{
    width: 100%;
    height: 100%;
    fill: var(--settingNavOptClr);
    transition: all 300ms ease-in-out;
}

.settingNavOptBox .settingNavOptText
{
    margin-left: 0.625rem;
    color: var(--settingNavOptClr);
    font-size: 1rem;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}





/* =========== SETTING CTNT =========== */

.settingBox .settCtntBdr
{
    width: calc((100% - var(--settingNavBdrWidth)));
    transition: all 300ms ease-in-out;
}

.settCtntBdr .settCtntBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.settCtntBox .settCtntTab
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-top: var(--settingTopPadding);
}

.settCtntTab .settCtntTitleBox
{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--genGreyTypeLight);
}

.settCtntTitleBox .settCtntTitleText
{
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
}

.settCtntTitleText .major
{

    color: var(--genGreenTypeLight);
}

.settCtntTitleText .minor
{

    color: var(--genWhiteTypeLight);
}














@media(hover: hover)
{
    .settingNavOptBox:hover
    {
        background-color: #ffffff15;
    }
}








@media only screen and (max-width: 64rem)
{
    html:root
    {
    }

    .settingBox .settCtntBdr
    {
        width: 100%;
    }

    .settCtntTitleBox .settCtntTitleText
    {
        color: var(--genWhiteTypeLight);
        font-size: 1.375rem;
    }

}



@media only screen and (max-width: 30.3125rem)
{

    .settCtntTitleBox .settCtntTitleText
    {
        color: var(--genWhiteTypeLight);
        font-size: 1.125rem;
    }

}










