/*************************************************************
 * This is the stylesheet for the tou page of Uvid+
 * 
 * @name (Anyanwu_Benedict_Chukwuemeka)
 * @version (v0.01)
 *************************************************************/




.tou-sect-bdr
{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: var(--navBarHeight) var(--genBorderSpacing);
}

.tou-sect-box
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tou-sect-box *
{
    margin-top: 1.5rem;
}

.tou-sect-ctnt-hdl
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--genWhiteTypeBright);
    font-size: 1.5rem;
}

.tou-sect-ctnt-hdr
{
    color: var(--genGreenTypeBright);
    font-size: 1.25rem;
    font-family: 'Poppins' , sans-serif;
}

.tou-sect-ctnt-text
{
    color: var(--genWhiteTypeMid2);
    font-size: 1rem;
}

.tou-sect-ctnt-text a,
.tou-sect-ctnt-text b,
.tou-sect-ctnt-text i
{
    color: var(--genGreenTypeLight);
}








@media only screen and (max-width: 35.3125rem)
{

    .tou-sect-box *
    {
        margin-top: 1.25rem;
    }

    .tou-sect-ctnt-hdr
    {
        font-size: 1.125rem;
    }

    .tou-sect-ctnt-text
    {
        font-size: .875rem;
    }
}