/***************************************************************
 * This will hold the default styling for the Help pages
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *
****************************************************************/



html:root
{
    --help_ctr_max_elem_width: 62.5rem;
    --help_ctr_hdr_height: 21.875rem;
    --help_ctr_hdr_ctnt_srchRslt_boxTip: .625rem;
    --help_ctr_hdr_ctnt_srchFld: 3.125rem;
    --help_ctr_hdr_ctnt_srchIconSize: 1.25rem;
    --help_ctr_tpc_pplr_card_iconSize: 1.5rem;
    --help_ctr_tpc_all_card_iconSize: 3rem;
    --help_ctr_tpc_all_gridCardWidth: 15.625rem;
    --help_ctr_more_ctnt_card_iconSize: 3rem;
}



.genBtnBox.help_ctr_nav_srch_btn_mbl
{
    display: none;
}



.help_ctr_bdr
{
    width: 100%;
}

.help_ctr_bdr .help_ctr_box
{
    width: 100%;
    display: flex;
    flex-direction: column;
}





/* =========== HEADER ========== */

.help_ctr_box .help_ctr_hdr_bdr
{
    width: 100%;
    height: var(--help_ctr_hdr_height);
}

.help_ctr_hdr_bdr .help_ctr_hdr_box
{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.help_ctr_hdr_box .help_ctr_hdr_bcg_bdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.help_ctr_hdr_bcg_bdr .help_ctr_hdr_bcg_box
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.help_ctr_hdr_bcg_box .help_ctr_hdr_bcg_img
{
    width: clamp(100%, 100%, 100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.help_ctr_hdr_box .help_ctr_hdr_ctnt_bdr
{
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -moz-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: -webkit-linear-gradient(to bottom, #000000ef, #000000dc, #000000ab, #00000045, #00000000);
    background: linear-gradient(to top, #000000ff, #00000099, #00000045);
}

.help_ctr_hdr_ctnt_bdr .help_ctr_hdr_ctnt_box
{
    width: 100%;
    max-width: var(--help_ctr_max_elem_width);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 auto;
    padding: var(--btmNavBarHeight) var(--genBorderSpacing) 3.125rem;
}

.help_ctr_hdr_ctnt_box .help_ctr_hdr_ctnt_greet
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5625rem;
}

.help_ctr_hdr_ctnt_greet .help_ctr_hdr_ctnt_ttlBox_mnr
{
    margin-bottom: .625rem;
}

.help_ctr_hdr_ctnt_ttlBox_mnr .help_ctr_hdr_ctnt_ttlTxt_mnr
{
    color: var(--genGreenTypeLight);
    font-size: 1.125rem;
}
.help_ctr_hdr_ctnt_ttlBox_mjr .help_ctr_hdr_ctnt_ttlTxt_mjr
{
    color: var(--genWhiteTypeBright);
    font-size: 2rem;
}




.help_ctr_hdr_ctnt_srchBdr
{
    position: relative;
    width: 100%;
    height: var(--help_ctr_hdr_ctnt_srchFld);
}

.help_ctr_hdr_ctnt_srchBdr .help_ctr_hdr_ctnt_srchBox
{
    --help_ctr_hdr_ctnt_srchClr: var(--genWhiteTypeMid);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: .625rem;
    background-color: var(--genGreyTypeMid);
    box-shadow: 0rem 0rem 0rem .0625rem var(--genGreenTypeDark1);
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.help_ctr_hdr_ctnt_srchBox *
{
    transition: all 300ms ease-in-out;
}

.help_ctr_hdr_ctnt_srchBox:focus-within
{
    --help_ctr_hdr_ctnt_srchClr: var(--genWhiteTypeLight);
    box-shadow: 0rem 0rem 0rem .1563rem var(--genGreenTypeMid);
    filter: brightness(1.25);
}

.help_ctr_hdr_ctnt_srchBox .help_ctr_hdr_ctnt_srchFldCls
{
    width: 100%;
    height: 100%;
    padding: .625rem calc((var(--help_ctr_hdr_ctnt_srchIconSize) * 2));
    color: var(--help_ctr_hdr_ctnt_srchClr);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #00000000;
}

.help_ctr_hdr_ctnt_srchBox .help_ctr_hdr_ctnt_srchIcon
{
    position: absolute;
    width: var(--help_ctr_hdr_ctnt_srchIconSize);
    height: var(--help_ctr_hdr_ctnt_srchIconSize);
    z-index: 5;
}

.help_ctr_hdr_ctnt_srchIcon.hide
{
    display: none;
}

.help_ctr_hdr_ctnt_srchIcon.find_icon
{
    left: 0;
    transform: translateX(50%);
    pointer-events: none;
}

.help_ctr_hdr_ctnt_srchIcon.clear_icon
{
    right: 0;
    transform: translateX(-50%);
    cursor: pointer;
}

.help_ctr_hdr_ctnt_srchIcon.clear_icon.is_typing
{
    display: flex;
}

.help_ctr_hdr_ctnt_srchIcon .help_ctr_hdr_ctnt_srchSvg
{
    width: 100%;
    height: 100%;
    fill: var(--help_ctr_hdr_ctnt_srchClr);
}



.help_ctr_hdr_ctnt_srchRslt_bdr
{
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    border-radius: .625rem;
    background-color: var(--genGreyTypeMid);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.help_ctr_hdr_ctnt_srchRslt_bdr.active
{
    opacity: 1;
    visibility: visible;
    overflow: visible;
    pointer-events: all;
}

.help_ctr_hdr_ctnt_srchRslt_bdr .help_ctr_hdr_ctnt_srchRslt_box
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.help_ctr_hdr_ctnt_srchRslt_box::after
{
    content: '';
    position: absolute;
    left: var(--help_ctr_hdr_ctnt_srchRslt_boxTip);
    bottom: 100%;
    border-bottom: var(--help_ctr_hdr_ctnt_srchRslt_boxTip) solid var(--genGreyTypeMid);
    border-right: var(--help_ctr_hdr_ctnt_srchRslt_boxTip) solid #00000000;
    border-left: var(--help_ctr_hdr_ctnt_srchRslt_boxTip) solid #00000000;
    transition: all 300ms ease-in-out;
}

.help_ctr_hdr_ctnt_srchRslt_box .help_ctr_hdr_ctnt_srchRslt_hdrBox
{
    width: 100%;
    margin-bottom: .625rem;
}

.help_ctr_hdr_ctnt_srchRslt_hdrBox .help_ctr_hdr_ctnt_srchRslt_hdrText
{
    color: var(--genGreenTypeMid);
    font-size: .9375rem;
}

.help_ctr_hdr_ctnt_srchRslt_box .help_ctr_hdr_ctnt_srchRslt_gridBdr
{
    width: 100%;
}

.help_ctr_hdr_ctnt_srchRslt_gridBdr .help_ctr_hdr_ctnt_srchRslt_gridBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help_ctr_hdr_ctnt_srchRslt_gridBox .help_ctr_hdr_ctnt_srchRslt_cardLnk
{
    width: 100%;
    padding: 0.5rem 0;
}

.help_ctr_hdr_ctnt_srchRslt_cardLnk .help_ctr_hdr_ctnt_srchRslt_cardBdr
{
    width: 100%;
}

.help_ctr_hdr_ctnt_srchRslt_cardBdr .help_ctr_hdr_ctnt_srchRslt_cardBox
{
    width: 100%;
}

.help_ctr_hdr_ctnt_srchRslt_cardBox .help_ctr_hdr_ctnt_srchRslt_cardTxt
{
    width: -moz-fit-content;
    width: fit-content;
    color: var(--genWhiteTypeLight);
    font-size: 1rem;
    transition: all 300ms ease-in-out;
}








/* =========== TOPICS ========== */

.help_ctr_box .help_ctr_tpc_bdr
{
    width: 100%;
    margin-bottom: 2rem;
}

.help_ctr_tpc_bdr .help_ctr_tpc_box
{
    width: 100%;
    max-width: var(--help_ctr_max_elem_width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 var(--genBorderSpacing);
}

.help_ctr_tpc_box .help_ctr_tpc_sect_bdr
{
    width: 100%;
    margin-bottom: 1.5625rem;
}

.help_ctr_tpc_sect_bdr .help_ctr_tpc_sect_box
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help_ctr_tpc_sect_box .help_ctr_tpc_sect_hdrBox
{
    width: 100%;
    margin: 2rem 0 1.25rem;
}

.help_ctr_tpc_sect_hdrBox .help_ctr_tpc_sect_hdrTxt
{
    color: var(--genWhiteTypeLight);
    font-size: 1.125rem;
}

.help_ctr_tpc_sect_box .help_ctr_tpc_sect_gridBdr
{
    width: 100%;
}


/* -------- Popular Topics -------- */
.help_ctr_tpc_sect_gridBdr .help_ctr_tpc_pplr_gridBox
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc((50% - 1rem)), 1fr));
    gap: 1rem;
}

.help_ctr_tpc_pplr_gridBox .help_ctr_tpc_pplr_cardBdr
{
    width: 100%;
    min-height: 3.125rem;
    border-radius: .625rem;
    background-color: var(--genGreyTypeDark);
    transition: all 300ms ease-in-out;
}

.help_ctr_tpc_pplr_cardBdr .help_ctr_tpc_pplr_cardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.help_ctr_tpc_pplr_cardBox .help_ctr_tpc_pplr_card_ttlBox
{
    width: calc((100% - var(--help_ctr_tpc_pplr_card_iconSize)));
}

.help_ctr_tpc_pplr_card_ttlBox .help_ctr_tpc_pplr_card_ttlTxt
{
    color: var(--genWhiteTypeMid);
    font-size: .875rem;
}

.help_ctr_tpc_pplr_cardBox .help_ctr_tpc_pplr_card_iconBdr
{
    width: var(--help_ctr_tpc_pplr_card_iconSize);
    height: var(--help_ctr_tpc_pplr_card_iconSize);
}

.help_ctr_tpc_pplr_card_iconBdr .help_ctr_tpc_pplr_card_iconBox
{
    width: 100%;
    height: 100%;
}

.help_ctr_tpc_pplr_card_iconBox .help_ctr_tpc_pplr_card_iconSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genGreenTypeMid);
}



/* ---------- All Topics -------- */
.help_ctr_tpc_all_gridBdr .help_ctr_tpc_all_gridBox
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--help_ctr_tpc_all_gridCardWidth), 1fr));
    gap: 1rem;
}

.help_ctr_tpc_all_gridBox .help_ctr_tpc_all_cardBdr
{
    width: 100%;
    border-radius: .625rem;
    background-color: var(--genGreyTypeDark);
    transition: all 300ms ease-in-out;
}

.help_ctr_tpc_all_cardBdr .help_ctr_tpc_all_cardBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

.help_ctr_tpc_all_cardBox .help_ctr_tpc_all_card_ttlBox
{
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 1rem;
}

.help_ctr_tpc_all_card_ttlBox .help_ctr_tpc_all_card_ttlTxt
{
    color: var(--genWhiteTypeLight);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.help_ctr_tpc_all_cardBox .help_ctr_tpc_all_card_iconBdr
{
    width: var(--help_ctr_tpc_all_card_iconSize);
    height: var(--help_ctr_tpc_all_card_iconSize);
}

.help_ctr_tpc_all_card_iconBdr .help_ctr_tpc_all_card_iconBox
{
    width: 100%;
    height: 100%;
}

.help_ctr_tpc_all_card_iconBox .help_ctr_tpc_all_card_iconSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genGreenTypeMid);
}





/* ============ MORE HELP =========== */

.help_ctr_box .help_ctr_more_bdr
{
    position: relative;
    width: 100%;
    background: -o-linear-gradient(to bottom, #000000ff, var(--genGreyTypeDark));
    background: -moz-linear-gradient(to bottom, #000000ff, var(--genGreyTypeDark));
    background: -webkit-linear-gradient(to bottom, #000000ff, var(--genGreyTypeDark));
    background: linear-gradient(to bottom, #000000ff, var(--genGreyTypeDark));
}

.help_ctr_more_bdr::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 1rem;
    background: linear-gradient(to top, #000000ff, #00000000);
    pointer-events: none;
}

.help_ctr_more_bdr .help_ctr_more_box
{
    width: 100%;
    max-width: var(--help_ctr_max_elem_width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3.125rem var(--genBorderSpacing);
}


.help_ctr_more_box .help_ctr_more_hdr_base
{
    width: 100%;
}

.help_ctr_more_hdr_base .help_ctr_more_hdr_bdr
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help_ctr_more_hdr_bdr .help_ctr_more_hdr_box
{
    width: -moz-fit-content;
    width: fit-content;
}

.help_ctr_more_hdr_box.help_ctr_more_hdr_box_mjr
{
    margin-bottom: .5rem;
}

.help_ctr_more_hdr_box.help_ctr_more_hdr_box_mnr
{
    margin-bottom: 1.5rem;
}

.help_ctr_more_hdr_box .help_ctr_more_hdr_txt_mjr
{
    color: var(--genWhiteTypeLight);
    font-size: 1.5rem;
}

.help_ctr_more_hdr_box .help_ctr_more_hdr_txt_mnr
{
    color: var(--genGreenTypeMid);
    font-size: 1rem;
}


.help_ctr_more_box .help_ctr_more_ctnt_bdr
{
    width: 100%;
}

.help_ctr_more_ctnt_bdr .help_ctr_more_ctnt_box
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.help_ctr_more_ctnt_box .help_ctr_more_ctnt_cardBdr
{
    width: 50%;
    padding: 0 1.5rem;
}

.help_ctr_more_ctnt_cardBdr .help_ctr_more_ctnt_cardBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    border-radius: .625rem;
    background-color: var(--genGreyTypeDark);
    box-shadow: 0rem 0.3125rem 0.625rem -0.125rem #000000ab;
}

.help_ctr_more_ctnt_cardBox .help_ctr_more_ctnt_card_iconBdr
{
    width: var(--help_ctr_more_ctnt_card_iconSize);
    height: var(--help_ctr_more_ctnt_card_iconSize);
}

.help_ctr_more_ctnt_card_iconBdr .help_ctr_more_ctnt_card_iconBox
{
    width: 100%;
    height: 100%;
}

.help_ctr_more_ctnt_card_iconBox .help_ctr_more_ctnt_card_iconSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genGreenTypeMid);
}

.help_ctr_more_ctnt_cardBox .help_ctr_more_ctnt_card_detBdr
{
    width: calc((100% - var(--help_ctr_more_ctnt_card_iconSize)));
    padding-left: 1.25rem;
}

.help_ctr_more_ctnt_card_detBdr .help_ctr_more_ctnt_card_detBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help_ctr_more_ctnt_card_detBox .help_ctr_more_ctnt_card_det_ttlBox
{
    width: 100%;
    margin-bottom: 0.625rem;
}

.help_ctr_more_ctnt_card_det_ttlBox .help_ctr_more_ctnt_card_det_ttlTxt
{
    position: relative;
    color: var(--genWhiteTypeLight);
    font-size: 1rem;
}

.help_ctr_more_ctnt_card_det_ttlTxt::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .0625rem;
    border-radius: .625rem;
    background-color: var(--genWhiteTypeLight);
    transition: all 300ms ease-in-out;
}

.help_ctr_more_ctnt_card_detBox .help_ctr_more_ctnt_card_det_descBox
{
    width: 100%;
}

.help_ctr_more_ctnt_card_det_descBox .help_ctr_more_ctnt_card_det_descTxt
{
    color: var(--genWhiteTypeMid);
    font-size: 1rem;
}






/* ============== SEARCH PAGE ============= */
.help_ctr_srch_pg_bdr
{
    width: 100%;
    min-height: 100vh;
    background-image: radial-gradient(100% 100% at 50% 50%, var(--genGreenTypeDark2) 0%, #00000000 50%);
}

.help_ctr_srch_pg_bdr .help_ctr_srch_pg_box
{
    width: 100%;
    max-width: var(--help_ctr_max_elem_width);
    margin: 0 auto;
    padding: 10rem var(--genBorderSpacing);
    display: flex;
    flex-direction: column;
}

.help_ctr_srch_pg_box .help_ctr_srch_pg_hdrBdr
{
    width: 100%;
}

.help_ctr_srch_pg_hdrBdr .help_ctr_srch_pg_hdrBox
{
    width: 100%;
}

.help_ctr_srch_pg_box .help_ctr_srch_pg_rsltBdr
{
    width: 100%;
    margin: 2rem 0 1rem;
}

.help_ctr_srch_pg_rsltBdr .help_ctr_srch_pg_rsltBox
{
    width: 100%;
}

.help_ctr_srch_pg_rsltBox .help_ctr_srch_pg_rsltTxt
{
    color: var(--genGreenTypeLight);
}

.help_ctr_srch_pg_rsltTxt .help_ctr_srch_pg_rslTerm
{
    color: var(--genWhiteTypeLight);
}

.help_ctr_srch_pg_box .help_ctr_srch_pg_gridBdr
{
    width: 100%;
}

.help_ctr_srch_pg_gridBdr .help_ctr_srch_pg_gridBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.help_ctr_srch_pg_gridBox .help_ctr_srch_pg_cardLnk
{
    width: 100%;
    min-height: 50px;
    border-left: .125rem solid var(--genGreenTypeMid);
    background-color: var(--genGreyTypeDark);
}

.help_ctr_srch_pg_cardLnk:first-child
{
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
}

.help_ctr_srch_pg_cardLnk:last-child
{
    border-bottom-left-radius: .3125rem;
    border-bottom-right-radius: .3125rem;
}

.help_ctr_srch_pg_cardLnk .help_ctr_srch_pg_cardBdr
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.help_ctr_srch_pg_cardBdr .help_ctr_srch_pg_cardBox
{
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.help_ctr_srch_pg_cardBox::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: .0625rem;
    border-radius: .125rem;
    background-color: var(--genWhiteTypeLight);
    transition: all 300ms ease-in-out;
}

.help_ctr_srch_pg_cardBox .help_ctr_srch_pg_cardTxt
{
    color: var(--genWhiteTypeLight);
    font-size: 1rem;
}

.help_ctr_srch_pg_cardBdr .help_ctr_srch_pg_card_iconBdr
{
    width: var(--help_ctr_tpc_pplr_card_iconSize);
    height: var(--help_ctr_tpc_pplr_card_iconSize);
}

.help_ctr_srch_pg_card_iconBdr .help_ctr_srch_pg_card_iconBox
{
    width: 100%;
    height: 100%;
}

.help_ctr_srch_pg_card_iconBox .help_ctr_srch_pg_card_iconSvg
{
    width: 100%;
    height: 100%;
    fill: var(--genGreenTypeMid);
}












@media(hover: hover)
{
    .help_ctr_hdr_ctnt_srchBox:hover
    {
        filter: brightness(1.25);
    }

    .help_ctr_hdr_ctnt_srchRslt_cardLnk:hover .help_ctr_hdr_ctnt_srchRslt_cardTxt
    {
        color: var(--genGreenTypeMid);
    }

    .help_ctr_tpc_pplr_cardBdr:hover,
    .help_ctr_tpc_all_cardBdr:hover
    {
        box-shadow: 0rem 0rem 0rem .0625rem var(--genGreenTypeDark1);
        filter: brightness(1.25);
    }

    .help_ctr_more_ctnt_card_det_ttlTxt:hover::after
    {
        width: 100%;
    }

    .help_ctr_srch_pg_cardLnk:hover .help_ctr_srch_pg_cardBox::after
    {
        width: 100%;
    }
}



@media only screen and (max-width: 48rem)
{

    .help_ctr_tpc_sect_gridBdr .help_ctr_tpc_pplr_gridBox
    {
        grid-template-columns: 100%;
    }

    .help_ctr_more_ctnt_bdr .help_ctr_more_ctnt_box
    {
        flex-direction: column;
    }

    .help_ctr_more_ctnt_box .help_ctr_more_ctnt_cardBdr
    {
        width: 100%;
        padding: 0 0 1rem;
    }
}


@media only screen and (max-width: 35.3125rem)
{
    html:root
    {
        --help_ctr_hdr_height: 18.75rem;
        --help_ctr_hdr_ctnt_srchFld: 2.5rem;
        --help_ctr_hdr_ctnt_srchIconSize: 1rem;
        --help_ctr_tpc_all_gridCardWidth: 10rem;
        --help_ctr_more_ctnt_card_iconSize: 2rem;
    }
    
    .genBtnBox.help_ctr_nav_srch_btn_mbl
    {
        display: flex;
    }

    .genBtnBox.help_ctr_nav_srch_btn_pc
    {
        display: none;
    }

    .help_ctr_hdr_ctnt_ttlBox_mnr .help_ctr_hdr_ctnt_ttlTxt_mnr
    {
        font-size: 1rem;
    }

    .help_ctr_hdr_ctnt_ttlBox_mjr .help_ctr_hdr_ctnt_ttlTxt_mjr
    {
        font-size: 1.75rem;
    }

    .help_ctr_hdr_ctnt_srchBox .help_ctr_hdr_ctnt_srchFldCls
    {
        font-size: .875rem;
    }

    .help_ctr_tpc_sect_hdrBox .help_ctr_tpc_sect_hdrTxt
    {
        font-size: 1rem;
    }

    .help_ctr_tpc_all_card_ttlBox .help_ctr_tpc_all_card_ttlTxt
    {
        font-size: .875rem;
    }

    .help_ctr_more_hdr_box .help_ctr_more_hdr_txt_mjr
    {
        font-size: 1.25rem;
    }

    .help_ctr_more_hdr_box .help_ctr_more_hdr_txt_mnr
    {
        font-size: 0.875rem;
    }

    .help_ctr_more_ctnt_cardBdr .help_ctr_more_ctnt_cardBox
    {
        padding: 1rem;
    }

    .help_ctr_more_ctnt_card_det_ttlBox .help_ctr_more_ctnt_card_det_ttlTxt
    {
        font-size: 0.875rem;
    }

    .help_ctr_more_ctnt_card_det_descBox .help_ctr_more_ctnt_card_det_descTxt
    {
        font-size: 0.875rem;
    }

    .help_ctr_srch_pg_bdr .help_ctr_srch_pg_box
    {
        padding-top: 6.25rem;
    }

    .help_ctr_srch_pg_cardBox .help_ctr_srch_pg_cardTxt
    {
        font-size: .875rem;
    }
}



