/**********************************************************************************************
 * This will hold the styling For the Category catalog pages of Uvid 
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *
************************************************************************************************/




/* --------- For movies, anime, tv shows, cartoon ------------ */

.catalog_body
{
    width: 100%;
    height: fit-content;
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: auto;
}

.contentmain
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: transparent;
    overflow: hidden;
}

.contentsub
{
    --cardWidth: 165px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px 15px;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 100ms;
}

#loadingIndicator
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000010;
    transition:all 2s ease-out;
    pointer-events: none;
    z-index: 15;
}

#loadingIndicator .spinner
{
    width: 60px;
    height: 50px;
    border-right: 15px solid var(--genGreenTypeLight);
    border-bottom: 10px solid var(--genWhiteTypeLight);
    border-left: 15px solid var(--genGreenTypeLight);
    border-top: 11px solid transparent;
    border-radius: 10px;
    animation: ani 2000ms linear infinite;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}


@keyframes ani
{
    0%
    {
        transform: translateY(-50%);
    }
    50%
    {
        transform: translateY(0%);
    }
    100%
    {
        transform: translateY(-50%);
    }
}







/* ====== ======== ======= Responsive= ===========  == == */


/*  ----------- ---- Width ---- --------- */

@media only screen and (max-width: 768px)
{
    .contentsub
    {
        --cardWidth: 125px;
    }
}



