/**********************************************************************************************
 * This will hold the styling For the Category catalog pages of Uvid 
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *
************************************************************************************************/



/*  ======== ======= BODY ======== ======== */
html
{
    scroll-behavior: auto;
}


html:root
{
    --slideCardPlayIconClr: #18bd0f;
    --slideCardPlayIconWidth: 18px;
}

.catalog_body
{
    width: 100%;
    height: fit-content;
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: auto;
}




/* --------- For movies, anime, tv shows, cartoon ------------ */

.contentmain
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: transparent;
    overflow: hidden;
}

.contentsub
{
    --cardWidth: 250px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--cardWidth), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px;
    gap: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 100ms;
}

#loadingIndicator
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000010;
    transition:all 2s ease-out;
    pointer-events: none;
    z-index: 15;
}

#loadingIndicator .spinner
{
    width: 60px;
    height: 50px;
    border-right: 15px solid var(--genGreenTypeLight);
    border-bottom: 10px solid var(--genWhiteTypeLight);
    border-left: 15px solid var(--genGreenTypeLight);
    border-top: 11px solid transparent;
    border-radius: 10px;
    animation: ani 2000ms linear infinite;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}


@keyframes ani
{
    0%
    {
        transform: translateY(-50%);
    }
    50%
    {
        transform: translateY(0%);
    }
    100%
    {
        transform: translateY(-50%);
    }
}



/* ===== CARD HOLDER ==== */

.cardholder
{
    position: relative;
    width: 250px;
    height: 325px;
    display: flex;
    flex-direction: column;
    background: #000;
    border-radius: 25px;
    border-bottom: 2px solid #1da216;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms;
}

.cardholder:active
{
    border-top: 2px solid #21c018;
    border-left: 2px solid #21c018;
    border-right: 2px solid #21c018;
    border-bottom: none;
}


.cardholder .cardimg
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.cardholder .cardimg img
{
    width: 100%;
    height: 100%;
    transition: all 700ms ease-in-out;
}

.cardholder:active .cardimg img
{
    transform: scale(1.15);
}

.cardholder .cardinfo
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    background: #00000035;
    transition: 300ms;
    z-index: 4;
}

.cardholder:active .cardinfo
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000085;
}

.cardholder .cardinfo h3
{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    color: #e7e7e7;
    font-size: 16px;
}

.cardholder:active .cardinfo h3
{
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

.cardholder .cardinfo .slideCardIcon
{
    width: var(--slideCardPlayIconWidth);
    fill: var(--slideCardPlayIconClr);
    transition: 500ms;
}

.cardholder:active .cardinfo .slideCardIcon
{
    --slideCardPlayIconWidth: 35px;
}









@media(hover: hover)
{

    .cardholder:hover
    {
        border-top: 2px solid #21c018;
        border-left: 2px solid #21c018;
        border-right: 2px solid #21c018;
        border-bottom: none;
    }

    .cardholder:hover .cardimg img
    {
        transform: scale(1.15);
    }

    .cardholder:hover .cardinfo
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #00000085;
    }

    .cardholder:hover .cardinfo h3
    {
        width: 100%;
        justify-content: space-evenly;
        text-align: center;
    }

    .cardholder:hover .cardinfo .slideCardIcon
    {
        --slideCardPlayIconWidth: 35px;
    }

}











/* ====== ======== ======= Responsive= ===========  == == */



/* ------------- Height ------------ */



/*  ----------- ---- Width ---- --------- */

@media only screen and (max-width: 884px)
{

    .contentsub
    {
        --cardWidth: 200px;
    }

    .cardholder
    {
        width: 200px;
        height: 240px;
    }

    .cardinfo h3
    {
        width: 150px;
    }
}


@media only screen and (max-width: 485px)
{

    .contentsub
    {
        --cardWidth: 180px;
    }

    .cardholder
    {
        width: 180px;
        height: 200px;
    }

    .cardinfo h3
    {
        width: 150px;
    }
}


@media only screen and (max-width: 320px)
{

    .contentsub
    {
        --cardWidth: 150px;
    }

    .cardholder
    {
        width: 150px;
        height: 180px;
    }

    .cardinfo h3
    {
        width: 120px;
    }
}



