/***********************************************************************************************
* This will hold the styling For the different pages in each sub category
* 
* @author (Anyanwu Benedict Chukwuemeka)
* @version (v0.01)
*
************************************************************************************************/
html:root
{
    --watchTrailerIconClr: #ff0000;
    --greenClr: #14d60d;
    --episodesBoxWidth: 200px;
}

.footer_base
{
    position: absolute;
    left: 0;
}


/* ======================= BODY =================== */

.watch_base
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: #000;
    transition: 300ms;
    scroll-behavior: smooth;
}

.bcg_img_ctnt
{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 300ms;
}

.bcg_img_ctnt .bcgImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: 300ms;
}

.bcg_img_ctnt .bcgVid
{
    width: 100%;
    height: 100%;
    object-position: top;
    transition: 300ms;
}

.bcg_img_ctnt .bcgImg,
.bcg_img_ctnt .bcgVid
{
    min-height: 500px;
}

.bc-img-cover
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(
        transparent, transparent,transparent,
        transparent, #00000085, #000000be, 
        #000000da, #000000, #000000,
        #000000, #000000);
    display: flex;
    flex-direction: column;
    transition: 300ms;
}


/* --------- title ----------- */

.title-bdr
{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0px;
    display: flex;
    position: relative;
    transition: 300ms;
}

.title-plate
{
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    transition: 500ms;
    padding: 20px 0px;
    transition: 300ms;
    overflow: hidden;
}

.title-plate h1
{
    color: #fff;
    font-size: 22px;
    text-align: left;
}

.title-img-bx
{
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    padding: 0px 20px;
    transition: 300ms;
}

.title-img
{
    position: relative;
    transform: translateY(-10%);
    width: 200px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    transition: 300ms;
}

.title-img img
{
    width: 100%;
    height: 100%;
    transition: 300ms;
    z-index: 1;
}

.title-img .watchTrailer_box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    z-index: 3;
}

.title-img:hover .watchTrailer_box
{
    opacity: 1;
    visibility: visible;
}

.watchTrailer_box .watchTrailerText
{
    color: #e7e7e7;
    font-size: 14px;
}

.trailer_Bdr
{
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000099;
    backdrop-filter: blur(15px);
    opacity: 0;
    transform: scale(0.6) translateY(30%);
    transition: 300ms;
    cursor: default;
    z-index: -101;
}

.trailer_Bdr.active
{
    opacity: 1;
    transform: scale(1.0) translateY(0%);
    visibility: visible;
    z-index: 101;
}

.trailer_Bdr .trailer_Box
{
    position: relative;
    width: 98%;
    max-width: 1150px;
    border-radius: 5px;
    background: #000000;
    aspect-ratio: 16 / 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.trailer_Box .closeTrailer
{
    position: absolute;
    top: 0;
    right: 50%;
    width: 20px;
    fill: #fff;
    transform: translate(100% , -150%);
    cursor: pointer;
}

.trailer_Box .trailer_Frame
{
    width: 100%;
    height: 100%;
}



/* ------- Abt  --------- */

.tro
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 300ms;
}
.sect-head
{
    width: 100%;
    padding: 5px;
    margin: 20px 0px;
}

.sect-head a
{
    font-size: 17px;
    color: #fff;
    padding: 0px 10px;
}

.sect-head a span{
    font-size: 20px;
    color: var(--greenClr);
}

.sect-dv
{
    display: flex;
    gap: 5px;
    transition: 300ms;
}

.abt-stmt
{
    width: 60%;
    height: fit-content;
    min-height: 200px;
    transition: 300ms;
}

.abt-stmt::-webkit-scrollbar
{
    display: none;
}

.abt-stmt p
{
    font-size: 13px;
    padding: 10px;
    color: #b0b0b0;
    transition: 300ms;
}

.abt-card
{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 300ms;
}

.abt-card p
{
    color: #dfdfdf;
    display: flex;
    gap: 3px;
    font-size: 10px;
    transition: 300ms;
}

.abt-card p a
{
    display: none;
    font-size: 10px;
}

.abt-card p span
{
    color: var(--greenClr);
    font-size: 11px;
    transition: 300ms;
}





/* -------- Episodes ------ */

.sect-ep
{
    width: 100%;
    transition: 300ms;
    overflow: hidden;
}

.mini-nav
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px;
}

.mini-nav-atv
{
    color: #ebebeb;
    border-bottom: 2px solid var(--greenClr);
}

.mini-nav a
{
    padding: 20px;
    color: #b0b0b0;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms;
}

.mini-nav a:hover
{
    color: #ebebeb;
    border-bottom: 2px solid var(--greenClr);
}

.show-home-bx
{
    width: 100%;
}


.show-home
{
    display: flex;
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
    overflow: hidden;
}

.show-sub
{
    width: 0%;
    height: fit-content;
    justify-content: center;
    align-items: start;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 75;
}

.show-sub::-webkit-scrollbar
{
    display: none;
}

.showsub-inatv
{
    display: none;
}

.showsub-atv
{
    width: 100%;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.showset
{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--episodesBoxWidth), 1fr));
    grid-template-rows: auto;
    padding: 10px;
    gap: 10px;
    transition: 500ms;
}

.showset .setTitleBar
{
    position: fixed!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #00000011;
    font-size: 25px;
    color: #b1b1b1;
    z-index: 1;
}

.setTitleBar h3
{
    font-size: 18px;
    color: #b1b1b1; 
}


.showset .episodes
{
    width: 100%;
    height: 75px;
    background: #2e2d2daa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ebebeb;
    cursor: pointer;
    transition: 500ms;
    position: relative;
    overflow: hidden;
}

.showset .episodes:hover
{
    background: #55545480;
}

.episodes span
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center ;
    font-size: 12px;
    transition: 500ms;
}

.episodes .episodesIcon
{
    width: 18px;
    display: none;
    fill: var(--greenClr);
    transition: 500ms;
    animation: spinPlay 1000ms reverse forwards;
}

@keyframes spinPlay
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}


.episodes:hover span
{
    display: none;
}

.episodes:hover .episodesIcon
{
    display: flex;
    font-size: 25px;
}






























/* ====== ======== ======= Responsive === =========  == == */



/* ------------- Height ------------ */






/* ------------- Width ------------ */

@media only screen and (max-width: 884px)
{

    /* .bc-img-cover
    {
        background: 
        linear-gradient(
            transparent, transparent,transparent,
            transparent, #000000cb, #0d0d0de8, 
            #000000f9, #000000, #000000,
            #000000, #000000);
    } */
    
    .title-bdr
    {
        /* top: 20%; */
        flex-direction: column;
        gap: 10px;
    }

    .title-plate
    {
        width: 100%;
        overflow: visible;
    }

    .title-plate h1
    {
        width: 100%;
        text-align: center;
        font-size: 25px;
        z-index: 10;
    }

    .title-img-bx
    {
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        display: none;
    }

    .title-img
    {
        width: 125px;
        height: 150px;
        transform: translateY(-20%);
    }

    .abt-stmt
    {
        width: 65%;
        height: fit-content;
    }

    .abt-card
    {
        width: 35%;
    }

    .abt-card p
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .show-home
    {
        justify-content: center;
    }

    .show-sub.showsub-atv
    {
        width: calc(100% - 50px);   
    }

}



@media only screen and (max-width: 485px)
{

    .title-img-bx
    {
        height: 1000px;
    }

    .title-img
    {
        width: 105px;
        height: 125px;
        transform: translateY(10%);
    }

    .sect-head a
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sect-dv
    {
        flex-direction: column;
    }

    .abt-stmt
    {
        width: 100%;
    }

    .abt-stmt p
    {
        font-size: 12px;
        text-align: justify;
    }

    .abt-card
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .abt-card p
    {
        width: 100%;
    }

    .abt-card p span:nth-child(2)
    {
        display: none;
    }

    .showset
    {
        --episodesBoxWidth: 100px;
    }

    .episodes span
    {
        font-size: 10px;
    }

}




