/***********************************************************************************************
* This will hold the styling For the different pages in each sub category
* 
* @author (Anyanwu Benedict Chukwuemeka)
* @version (v0.01)
*
************************************************************************************************/
html:root
{
    --watchTrailerIconClr: #ff0000;
    --genGreenTypeLight: #14d60d;
    --episodesBoxWidth: 150px;
    --seasons_BdrHeight: 50px;
}


/* ======================= BODY =================== */

.watch_base
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: #000;
    transition: 300ms;
    scroll-behavior: smooth;
}

.main_bcg
{
    width: 100%;
    height: fit-content;
}

.bcg_img_bdr
{
    position: relative;
    width: 100%;
    min-height: 250px;
    aspect-ratio: 16/4;
}

.bcg_img_bdr .bcg_img_box
{
    width: 100%;
    height: var(--ImgHeight);
    min-height: 500px;
}

.bcg_img_box .bcgImg
{
    width: 100%;
    height: 100%;
    min-height: 500px;
    object-fit: cover;
    object-position: top;
}

.bcg_img_bdr .bcg_img_gradient
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: var(--ImgHeight);
    min-height: 525px;
    background: linear-gradient(
        transparent, transparent,transparent,
        transparent, #00000085, #000000be, 
        #000000da, #000000, #000000,
        #000000, #000000);
}

.main_bdr
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}


/* --------- title ----------- */

.main_box
{
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
    transition: 300ms;
}

.title-plate
{
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    transition: 500ms;
    padding: 20px 0px;
    transition: 300ms;
    overflow: hidden;
}

.title-plate h1
{
    color: #fff;
    font-size: 30px;
    text-align: left;
}

.title_ImgBdr
{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
    transition: 300ms;
}

.title_ImgBox
{
    transform: translateY(-10%);
    width: 200px;
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
    transition: 300ms;
}

.title_ImgBox .title_Img
{
    width: 100%;
    height: 100%;
    transition: 300ms;
    z-index: 1;
}




/*  ------ Quick Actions ------ */

.quick_atnBcg
{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.quick_atnBcg .quick_atnBdr
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.quick_atnBdr .quick_atnBox
{
    position: relative;
    width: 100px;
    height: 100%;
    margin-right: 10px;
}

.quick_atnBox::after
{
    content: '';
    position: absolute;
    top: 20%;
    right: -5px;
    width: 1px;
    height: 60%;
    background-color: #777777;
    border-radius: 5px;
}

.quick_atnBox:last-child::after
{
    display: none;
    content: none;
    border-right: none;
}

.quick_atnBox .quick_atnCtnt
{
    width: 100%;
    word-wrap: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 300ms;
    cursor: pointer;
}

.quick_atnCtnt:active
{
    background-color: #222222;
    border-radius: 5px;
}

.quick_atnCtnt .ratingBox
{
    width: 100%;
}

.ratingBdr .ratingBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ratingBox .ratingIconBox
{
    width: 18px;
}

.ratingIconBox .ratingIcon
{
    width: 100%;
    fill: #14d60d;
}

.ratingBox .ratingIconNo
{
    color: #dfdfdf;
    font-size: 12px;
    margin-left: 5px;
}

.quickAtnModalBdr
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: fit-content;
    background-color: #141414;
    border-radius: 5px;
    transform: translate(0%, 50%);
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.quickAtnModalBdr.active
{
    transform: translate(0%, 100%);
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
    pointer-events: all;
    z-index: 3;
}

.quickAtnModalBdr .quickAtnModalBox
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 16px;
}

.quickAtnModalBox .close_quickAtnModalBdr
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 7px;
    cursor: pointer;
}

.close_quickAtnModalBdr .close_quickAtnModalBox
{
    position: relative;
    width: 15px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--genWhiteTypeLight);
    transform: rotate(45deg);
}

.close_quickAtnModalBox::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2px;
    height: 15px;
    border-radius: 5px;
    background-color: var(--genWhiteTypeLight);
    transform: translate(50%, -50%);
}

.quickAtnModalBox .quickAtnModal_btn
{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

.quickAtnModal_btn:active
{
    background-color: #282828;
    border-radius: 15px;
}

.quickAtnModal_btn .quickAtnModal_btnIcon
{
    width: 16px;
    fill: var(--genWhiteTypeMid);
    transition: 300ms;
}

.quickAtnModal_btn .quickAtnModal_btnText
{
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: var(--genWhiteTypeMid);
    font-size: 12px;
    transition: 300ms;
}

.quickAtnModal_btn.active .quickAtnModal_btnIcon,
.quickAtnModal_btn:active .quickAtnModal_btnIcon
{
    fill: var(--genWhiteTypeLight);
}

.quickAtnModal_btn.active .quickAtnModal_btnText,
.quickAtnModal_btn:active .quickAtnModal_btnText
{
    color: var(--genWhiteTypeLight);
}



.topIconBox
{
    width: 18px;
}

.topIconBox .topIcon
{
    width: 100%;
    fill: var(--genWhiteTypeLight);
}

.btmCtnt .btmText
{
    width: 100%;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.trailer_Bdr
{
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000099;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    opacity: 0;
    transform: scale(0.6) translateY(30%);
    transition: 300ms;
    cursor: default;
    z-index: -101;
}

.trailer_Bdr.active
{
    opacity: 1;
    transform: scale(1.0) translateY(0%);
    visibility: visible;
    z-index: 101;
}

.trailer_Bdr .trailer_Box
{
    position: relative;
    width: 98%;
    max-width: 1150px;
    border-radius: 5px;
    background: #000000;
    aspect-ratio: 16 / 9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

.trailer_Box .closeTrailer
{
    position: absolute;
    top: 0;
    right: 50%;
    width: 20px;
    fill: var(--genWhiteTypeBright);;
    transform: translate(100% , -150%);
    cursor: pointer;
}

.trailer_Box .trailer_Frame
{
    width: 100%;
    height: 100%;
}

.add_to_WatchListBox .add_to_WatchListIcon
{
    display: block;
}

.add_to_WatchListBox .remove_from_WatchListIcon
{
    display: none;
}

.add_to_WatchListBox.active .add_to_WatchListIcon
{
    display: none;
}

.add_to_WatchListBox.active .remove_from_WatchListIcon
{
    display: block;
}




/* ------- Abt  --------- */

.tro
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 300ms;
}

.sect-abt
{
    margin: 0 0 50px;
}

.sect-head
{
    width: 100%;
    padding: 5px;
}

.sect-headText
{
    font-size: 17px;
    color: var(--genWhiteTypeBright);
    padding: 0 10px;
}

.sect-headText span
{
    font-size: 20px;
    color: var(--genGreenTypeLight);
}

.sect-dv
{
    display: flex;
    gap: 5px;
    transition: 300ms;
}

.abt-stmt
{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 6px 15px 12px 15px;
    transition: 300ms;
}

.abt-stmt .abt-stmtText
{
    --lineNo: 4;
    --lineHeight: 1.4;
    position: relative;
    width: 100%;
    font-size: 13px;
    color: var(--genWhiteTypeMid);
    transition: 300ms;
    max-height: calc(var(--lineNo) * 1em * var(--lineHeight));
    line-height: var(--lineHeight);
    margin-bottom: 10px;
    overflow: hidden;
}

.abt-stmtText.abt-stmtText:has(+ .abt-stmt-detBdr .abt-stmt-checkBoxCls:not(:checked))::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    height: calc(1.1em * var(--lineHeight));
    background: linear-gradient(to top, #000000, #00000090, #00000000);
    pointer-events: none;
}

.abt-stmt .abt-stmt-detBdr
{
    width: 100%;
}

.abt-stmt-detBdr .abt-stmt-detBox
{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: start;
}

.abt-stmt-detBox .abt-stmt-detBtn
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--genGreenTypeDark3);
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 300ms;
    cursor: pointer;
}

.abt-stmt-detBtn:active
{
    transform: scale(0.96);
    background-color: var(--genGreenTypeDark2);
}

.abt-stmt-detBtn .read_more_btnIcon
{
    position: relative;
    width: 10px;
    height: 2px;
    background-color: var(--genWhiteTypeMid);
    transition: 300ms;
}

.read_more_btnIcon::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 10px;
    background-color: var(--genWhiteTypeLight);
    transform: translate(-50%, -50%);
    transition: 300ms;
}

.abt-stmt-detBtn .abt-stmt-checkBoxCls
{
    appearance: none;
    color: var(--genWhiteTypeLight);
    margin-left: 5px;
    outline: none;
    border: none;
    pointer-events: none;
}

.abt-stmt-checkBoxCls::before
{
    content: 'Read More';
    font-family: 'Poppins' , sans-serif;
    font-size:  11px;
}

.abt-stmt-checkBoxCls:checked:before
{
    content: 'Read Less';
}

.abt-stmt-checkBoxCls:checked ~ .read_more_btnIcon
{
    transform: rotate(180deg);
}

.abt-stmt-checkBoxCls:checked ~ .read_more_btnIcon::before
{
    content: none;
    opacity: 0;
    visibility: hidden;
}

.abt-stmtText:has(+ .abt-stmt-detBdr .abt-stmt-checkBoxCls:checked)
{
    max-height: none;
}


.abt-card
{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 300ms;
}

.abt-cardText
{
    color: var(--genWhiteTypeLight);
    display: flex;
    gap: 3px;
    font-size: 10px;
    transition: 300ms;
}

.abt-cardText span
{
    color: var(--genGreenTypeLight);
    font-size: 11px;
    transition: 300ms;
}





/* ============= EPISODE SECTION ============== */

/* ------------- Header --------- */
.sect-ep
{
    width: 100%;
    transition: 300ms;
    overflow: hidden;
}

.sect-ep .sect-controls
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.sect-controls .seasons_headerBdr,
.sect-controls .episode_sortBdr
{
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    height: var(--seasons_BdrHeight);
}

.seasons_headerBdr .seasons_headerBox
{
    --seasons_headerClrs: var(--genWhiteTypeMid);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    transition: all 300ms ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.seasons_headerBox::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-left: 7.5px solid var(--seasons_headerClrs);
    border-top: 7.5px solid #00000000;
    transform: translate(100%, -100%) rotate(-45deg);
    transition: 300ms;
}

.seasons_headerBox .seasons_headerText
{
    color: var(--seasons_headerClrs);
    font-size: 13px;
    transition: 300ms;
}

.seasons_headerBox:active
{
    --seasons_headerClrs: var(--genGreenTypeLight);
}

.seasons_headerBdr .seasons_selectorBdr
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 485px;
    height: fit-content;
    max-height: 0;
    display: flex;
    flex-direction: column;
    background: #141414;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    z-index: -3;
}

.seasons_selectorBdr.active
{
    max-height: 250px;
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.seasons_selectorBdr .seasons_selectorHeader
{
    width: 100%;
    height: var(--seasons_BdrHeight);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    border-bottom: 1px solid #444444;
}

.seasons_selectorHeader .seasons_selectorHeaderText
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    color: var(--genWhiteTypeBright);
    text-align: center;
}

.seasons_selectorHeaderText .large
{
    color: var(--genGreenTypeLight);
    font-size: 18px;
}

.seasons_selectorHeaderText .small
{
    color: var(--genWhiteTypeLight);
    font-size: 16px;
}

.seasons_selectorHeader .seasons_selectorHeaderIcon
{
    position: relative;
    width: 15px;
    height: 2px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--genWhiteTypeLight);
    transform: rotate(45deg);
    cursor: pointer;
}

.seasons_selectorHeaderIcon::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2px;
    height: 15px;
    border-radius: 5px;
    background-color: var(--genWhiteTypeLight);
    transform: translate(50%, -50%);
}

.seasons_selectorBdr .seasons_selectorBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: visible;
}

.seasons_selectorBox .seasons_selector
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--genWhiteTypeDark);
    padding: 15px;
    transition: 300ms;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
}

.seasons_selector .selectorMain
{
    font-size: 12px;
}

.seasons_selector .selectorMinor
{
    font-size: 11px;
}

.seasons_selector:active
{
    color: var(--genWhiteTypeBright);
    background-color: #242424;
}

.seasons_selector.active
{
    color: var(--genWhiteTypeLight);
}

.episode_sortBdr .episode_sortBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.episode_sortBox .episode_sortIcon
{
    width: 14px;
    fill: var(--genWhiteTypeMid);
    transform: rotate(90deg);
}

.episode_sortBox .episode_sortText
{
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 15px;
}

.episode_sortText::after
{
    content: 'Oldest';
}

.episode_sortText.active::after
{
    content: 'Latest';
}


/* -------------- Episode Lists ------------ */
.show-home-bx
{
    width: 100%;
}

.show-home
{
    display: flex;
    width: 100%;
    min-height: 200px;
    margin-bottom: 50px;
    overflow: hidden;
}

.show-sub
{
    width: 0%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms 500ms;
    overflow-x: hidden;
    overflow-y: auto;
}

.show-sub.showsub-inatv
{
    display: none;
}

.show-sub.showsub-atv
{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.showset
{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--episodesBoxWidth), 1fr));
    grid-template-rows: auto;
    padding: 10px;
    gap: 10px;
    transition: 500ms;
}


.showset .episodes
{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #222222;
    transition: 500ms;
    overflow: hidden;
    cursor: pointer;
}

.episodes:active
{
    background: #55545480;
}

.episodes.active
{
    display: flex;
}

.episodes.inactive
{
    display: none;
}

.episodes span
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    transition: 500ms;
}

.episodes .episodesIcon
{
    width: 18px;
    display: none;
    fill: var(--genGreenTypeLight);
    transition: 500ms;
    animation: spinPlay 1000ms reverse forwards;
}

@keyframes spinPlay
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}


.episodes:active span
{
    display: none;
}

.episodes:active .episodesIcon
{
    display: flex;
    font-size: 25px;
}


/* ------ Show all ep button ----- */
.showall_EpBdr
{
    width: 100%;
}

.showall_EpBdr .showall_EpBox
{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showall_EpBox .showall_EpBtn
{
    width: 100%;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--genWhiteTypeLight);
    font-size: 13px;
    text-align: center;
    background-color: var(--genGreenTypeDark3);
    border-radius: 10px;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    transition: 300ms ease;
    cursor: pointer;
}

.showall_EpBtn.active
{
    display: flex;
}

.showall_EpBtn:active
{
    transform: scale(0.96);
    background-color: var(--genGreenTypeDark2);
}





@media(hover: hover)
{
    .quick_atnCtnt:hover
    {
        background-color: #222222;
        border-radius: 5px;
    }

    .quickAtnModal_btn:hover
    {
        background-color: #282828;
        border-radius: 15px;
    }

    .quickAtnModal_btn:hover .quickAtnModal_btnIcon
    {
        fill: var(--genWhiteTypeLight);
    }

    .quickAtnModal_btn:hover .quickAtnModal_btnText
    {
        color: var(--genWhiteTypeLight);
    }

    .abt-stmt-detBtn:hover
    {
        background-color: var(--genGreenTypeDark2);
    }

    .seasons_headerBox:hover
    {
        --seasons_headerClrs: var(--genGreenTypeLight);
    }

    .seasons_selectorBox::-webkit-scrollbar-thumb
    {
        background: #444444;
    }

    .seasons_selector:hover
    {
        color: var(--genWhiteTypeBright);
        background-color: #242424;
    }

    .episodes:hover
    {
        background: #55545480;
    }

    .episodes:hover span
    {
        display: none;
    }

    .episodes:hover .episodesIcon
    {
        display: flex;
        font-size: 25px;
    }
    
    .showall_EpBtn:hover
    {
        background-color: var(--genGreenTypeDark2);
    }
}

.rating_btn.active
{
    background-color: var(--genGreenTypeDark);
    border-radius: 25px;
}







/* ====== ======== ======= Responsive === =========  == == */


/* ------------- Width ------------ */

@media only screen and (max-width: 884px)
{
    
    .main_box
    {
        flex-direction: column;
        gap: 10px;
    }

    .title-plate
    {
        width: 100%;
        overflow: visible;
    }

    .title-plate h1
    {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }

    .title_ImgBdr
    {
        display: none;
    }

    .quick_atnBcg .quick_atnBdr
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .quickAtnModalBdr
    {
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .quickAtnModalBdr.active
    {
        transform: translate(-50%, 100%);
    }

    .abt-stmt
    {
        width: 65%;
        height: fit-content;
    }

    .abt-stmt .abt-stmtText
    {
        --lineNo: 4;
    }

    .abt-card
    {
        width: 35%;
    }

    .abt-cardText
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .show-home
    {
        justify-content: center;
    }

    .show-sub.showsub-atv
    {
        width: calc(100% - 50px);   
    }

}


@media only screen and (max-width: 768px)
{
    .seasons_headerBdr .seasons_selectorBdr
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        max-height: none;
    }

    .seasons_selectorBdr.active
    {
        height: 100vh;
        max-height: none;
        opacity: 1;
        visibility: visible;
        z-index: 101;
    }

    .seasons_selectorBdr .seasons_selectorHeader
    {
        display: flex;
    }

    .seasons_selectorBdr .seasons_selectorBox
    {
        height: calc(100% - var(--seasons_BdrHeight));
    }

}


@media only screen and (max-width: 485px)
{

    .sect-headText
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sect-abt
    {
        margin-bottom: 60px;
    }
    
    .sect-dv
    {
        flex-direction: column;
    }

    .abt-stmt
    {
        width: 100%;
    }

    .abt-stmt .abt-stmtText
    {
        text-align: justify;
    }

    .abt-stmt .abt-stmt-detBdr
    {
        margin-bottom: 25px;
    }

    .abt-stmt-detBdr .abt-stmt-detBox
    {
        justify-content: center;
    }

    .abt-card
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .abt-cardText
    {
        width: 100%;
    }

    .episode_sortBox .episode_sortIcon
    {
        margin-right: 10px;
    }

    .episode_sortBox .episode_sortText
    {
        display: none;
    }

    .showset
    {
        --episodesBoxWidth: 100px;
    }

    .episodes span
    {
        font-size: 10px;
    }

}

@media only screen and (max-width: 350px)
{
    .quickAtnModalBdr
    {
        left: 0;
        width: 100%;
        border-radius: 0px;
        transform: translate(0%, 50%);
    }

    .quickAtnModalBdr.active
    {
        transform: translate(0%, 100%);
    }
}




