/*************************************************************
 * This is the style for the Episode pages of Uvid
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/


html:root
{
    --leftColWidth: calc(100% - var(--rightColWidth));
    --rightColWidth: 35%;
    --next_epImgBoxWidth: 150px;
    --showlist_MoreEpCloseBoxHeight: 30px;
    --showlist_MoreEpHeaderBdrHeight: 50px;
    --moreEpCtntBox_columnWidth: 275px;
    --showlist_epImgBoxWidth: 150px;
}


.vid_sect_space
{
    width: 100%;
    height: 70px;
}

/* ============= Video Details ============= */

.section_Base
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section_Base .section_Bdr
{
    width: 100%;
    max-width: var(--genMaxContainerWidth);
}

.section_Bdr .section_Box
{
    width: 100%;
    display: flex;
    flex-direction: row;
}



/* ------------ Left Column ----------- */
.section_Box .left_column
{
    width: calc(100% - var(--rightColWidth));
}

.left_column .column_ctnt
{
    width: 100%;
    padding: 10px;
}

.column_ctnt .left_section_bdr
{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
}

.left_section_bdr .left_section_box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 10px;
    border-radius: 5px;
    background-color: #141414;
}

.left_section_box.section_title_box,
.left_section_box.synopsis_box
{
    border-left: 3px solid var(--genGreenTypeMid);
}

.left_section_box.media_actions_box
{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--genGreenTypeMid);
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.section_title_box .section_title_textLarge
{
    width: 100%;
    color: var(--genWhiteTypeLight);
    font-size: 20px;
}

.section_title_box .section_title_textSmall
{
    width: -moz-fit-content;
    width: fit-content;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
    transition: 200ms;
}

.section_title_textSmall:active
{
    color:var(--genWhiteTypeLight);
}

.synopsis_box .synopsisTitle
{
    width: 100%;
    color: var(--genWhiteTypeLight);
    font-size: 13px;
    transition: 200ms;
}

.synopsis_box .synopsisText
{
    width: 100%;
    margin: 0 0 18px 0;
    color: var(--genWhiteTypeMid);
    font-size: 11px;
    transition: 200ms;
}

.synopsis_box .genreTagBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.genreTagCardLink .genreTagCard
{
    width: -moz-fit-content;
    width: fit-content;
    padding: 6px;
    border-radius: 12px;
    border: 0.5px solid var(--genWhiteTypeMid);
    background-color: #1d1d1d;
    transition: 300ms;
}

.genreTagCard .genreTagCardText
{
    color: var(--genWhiteTypeLight);
    font-size: 10px;
    transition: 300ms;
}

.genreTagCard:active
{
    background-color: #333333;
}

.genreTagCard:active .genreTagCardText
{
    color: var(--genWhiteTypeBright);
}

.media_actions_box .media_optBdr
{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.media_optBdr .media_optBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms;
}

.media_optBox:active
{
    background-color: #282828;
    border-radius: 15px;
}

.media_optBox .media_optIcon
{
    width: 16px;
    fill: var(--genWhiteTypeLight);
    transition: 300ms;
}

.media_optIcon.open_fullMediaActionIcon
{
    width: 30px;
}

.media_optBox.open_fullMediaActionBox
{
    display: none;
}

.open_fullMediaActionIcon path
{
    stroke: var(--genWhiteTypeLight);
}

.media_optBox:active .media_optIcon
{
    fill: var(--genWhiteTypeBright);
}

.media_optBox .media_optText
{
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    margin-left: 10px;
    transition: 300ms;
}

.media_optBox:active .media_optText
{
    color: var(--genWhiteTypeBright);
}

.left_section_box.media_actions_box.active .open_fullMediaActionBox
{
    position: absolute;
    top: 0;
    right: 0;
}

.left_section_box.media_actions_box.active .open_fullMediaActionBox
.open_fullMediaActionIcon
{
    transform: rotate(135deg);
}


/* ---------- Right Column ---------- */
.section_Box .right_column
{
    width: var(--rightColWidth);
    max-width: 400px;
    overflow: hidden;
}

.right_column .showlist
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.showlist .showlist_head
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.showlist_head .showlist_nextText
{
    font-size: 13px;
    color: var(--genWhiteTypeMid);
}

.showlist .next_epCardBdr
{
    width: 100%;
    max-width: 300px;
    height: 100px;
    padding: 10px;
}

.next_epCardBdr .next_epCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.next_epCardBox .next_epImgBox
{
    position: relative;
    width: var(--next_epImgBoxWidth);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.next_epImgBox .next_epImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.next_epCardBox .next_epLength
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    border-radius: 5px;
    background-color: #000000b0;
    z-index: 3;
}

.next_epImgBox .next_epCardHover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    z-index: 2;
}

.next_epCardBox:active .next_epCardHover
{
    opacity: 1;
    visibility: visible;
}

.next_epCardHover .next_epCardHoverIcon
{
    width: 16px;
    fill: var(--genGreenTypeLight);
}

.next_epCardBox .next_epDetBdr
{
    width: calc(100% - var(--next_epImgBoxWidth));
    height: 100%;
    padding: 0 0 0 10px;
}

.next_epDetBdr .next_epDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.next_epDetBox .next_epDetTitle
{
    color: var(--genWhiteTypeMid);
    font-size: 14px;
}

.next_epDetBox .next_epDetShow
{
    color: #888888;
    font-size: 10px;
}

.showlist .showlist_epdivider
{
    width: 100%;
    border-bottom: .25px solid #6b6a6a;
}

.showlist .showlist_MoreEpBtnBdr
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.showlist_MoreEpBtnBdr .showlist_MoreEpBtnBox
{
    --moreEpBtnColors: #ababab;
    font-family: 'Zen dots', sans-serif;
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 5px;
    outline: none;
    border: 1.5px solid var(--moreEpBtnColors);
    border-radius: 8px;
    background-color: transparent;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpBtnBox:active
{
    transform: scale(0.95);
}


.showlist_MoreEpBtnBox:active
{
    --moreEpBtnColors: var(--genGreenTypeMid);
}

.showlist_MoreEpBtnBox .showlist_MoreEpBtnIcon
{
    width: 20px;
    fill: var(--moreEpBtnColors);
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpBtnBox .showlist_MoreEpBtnText
{
    color: var(--moreEpBtnColors);
    font-size: 12px;
    transition: all 300ms ease-in-out;
}




/* -------------- More Episodes ------------ */

.showlist_MoreEpBase
{
    position: fixed;
    top: calc(0%);
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    pointer-events: none;
    z-index: -105;
}

.showlist_MoreEpBase.active
{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 105;
}

.showlist_MoreEpBase .showlist_MoreEpBcg
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    z-index: -1;
}

.showlist_MoreEpBase .showlist_MoreEpBdr
{
    width: 100%;
    max-width: 700px;
    height: 100%;
    scale: 0.9;
    translate: 0% 10%;
    transition: 300ms;
}

.showlist_MoreEpBase.active .showlist_MoreEpBdr
{
    scale: 1;
    translate: 0% 0%;
}

.showlist_MoreEpBdr .showlist_MoreEpBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.showlist_MoreEpBox .showlist_MoreEpCloseBox
{
    position: relative;
    width: 100%;
    height: var(--showlist_MoreEpCloseBoxHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 15px;
    transition: 300ms;
}

.showlist_MoreEpCloseBox .showlist_MoreEpCloseIcon
{
    position: absolute;
    top: 20px;
    right: -30px;
    width: 18px;
    fill: var(--genWhiteTypeLight);
    cursor: pointer;
    transition: 300ms;
}

.showlist_MoreEpBox .showlist_MoreEpHeaderBdr
{
    --showlistMoreEpHeaderClrs: var(--genWhiteTypeLight);
    position: relative;
    width: 100%;
    height: var(--showlist_MoreEpHeaderBdrHeight);
}

.showlist_MoreEpHeaderBdr .showlist_MoreEpHeaderBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: #1f1f1f;
    transition: all 300ms ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.showlist_MoreEpHeaderBox .showlist_MoreEpHeaderText
{
    color: var(--showlistMoreEpHeaderClrs);
    font-size: 16px;
    margin-left: 20px;
    transition: 300ms;
}

.showlist_MoreEpHeaderBdr.active
{
    --showlistMoreEpHeaderClrs: var(--genGreenTypeLight);
}

.showlist_MoreEpHeaderBox:active
{
    --showlistMoreEpHeaderClrs: var(--genGreenTypeLight);
}

.showlist_MoreEpHeaderListIcon
{
    position: absolute;
    left: 10px;
    width: 14px;
    fill: var(--genWhiteTypeLight);
    transition: 300ms;
}

.showlist_MoreEpHeaderBox .showlist_MoreEpHeaderIcon
{
    width: 16px;
    fill: var(--genWhiteTypeLight);
    transition: 300ms;
}

.showlist_MoreEpHeaderBdr.active .showlist_MoreEpHeaderIcon
{
    transform: rotate(-180deg);
}

.showlist_MoreEpHeaderBdr .showlist_MoreEpSelectorBdr
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    padding: 10px 0;
    background: #171717;
    z-index: 4;
}

.showlist_MoreEpHeaderBdr.active .showlist_MoreEpSelectorBdr
{
    display: flex;
}

.showlist_MoreEpSelectorBdr .showlist_MoreEpSelectorBox
{
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.showlist_MoreEpSelectorBox .showlist_MoreEpSelector
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--genWhiteTypeDark);
    font-size: 12px;
    padding: 20px 15px;
    transition: 300ms;
    cursor: pointer;
}

.showlist_MoreEpSelector .showlist_MoreEpSelectorText
{
    color: var(--genWhiteTypeDark);
    font-size: 12px;
    margin-left: 20px;
    transition: 300ms;
}

.showlist_MoreEpSelector .showlist_MoreEpSelectorEpNo
{
    color: var(--genWhiteTypeDark);
    font-size: 10px;
    transition: 300ms;
}

.showlist_MoreEpSelector .showlist_MoreEpHeaderListIcon
{
    fill: var(--genWhiteTypeDark);
}


.showlist_MoreEpSelector:active
{
    background-color: #222222;
}

.showlist_MoreEpSelector:active .showlist_MoreEpSelectorText,
.showlist_MoreEpSelector:active .showlist_MoreEpSelectorEpNo
{
    color: var(--genWhiteTypeLight);
}

.showlist_MoreEpSelector:active .showlist_MoreEpHeaderListIcon
{
    fill: var(--genWhiteTypeLight);
}

.showlist_MoreEpSelector.active .showlist_MoreEpSelectorText,
.showlist_MoreEpSelector.active .showlist_MoreEpSelectorEpNo
{
    color: var(--genWhiteTypeLight);
}

.showlist_MoreEpSelector.active .showlist_MoreEpHeaderListIcon
{
    fill: var(--genWhiteTypeLight);
}

.showlist_MoreEpBox .showlist_MoreEpCtntBdr
{
    width: 100%;
    height: calc(100% - (var(--showlist_MoreEpCloseBoxHeight) + var(--showlist_MoreEpHeaderBdrHeight)));
    overflow: hidden;
    overflow-y: auto;
    background-color: #111111;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpCtntBdr.active
{
    display: flex;
}

.showlist_MoreEpCtntBdr.inactive
{
    display: none;
}

.showlist_MoreEpCtntBdr .showlist_MoreEpCtntBox
{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--moreEpCtntBox_columnWidth), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 15px;
    padding: 5px 10px;
    background-color: transparent;
}

.showlist_MoreEpCtntBox .showlist_epCardBdr
{
    width: 100%;
    height: 100px;
}

.showlist_epCardBdr .showlist_epCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.showlist_epCardBox:active
{
    border-radius: 10px;
    background-color: #222222;
}

.showlist_epCardBox .showlist_epImgBox
{
    position: relative;
    width: var(--showlist_epImgBoxWidth);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.showlist_epImgBox .showlist_epImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.showlist_epImgBox .showlist_epLength
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    border-radius: 5px;
    background-color: #000000b0;
    z-index: 3;
}

.showlist_epImgBox .showlist_epCardHover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    z-index: 2;
}

.showlist_epCardBox:active .showlist_epCardHover
{
    opacity: 1;
    visibility: visible;
}

.showlist_epCardHover .showlist_epCardHoverIcon
{
    width: 16px;
    fill: var(--genGreenTypeLight);
}

.showlist_epCardBox .showlist_epDetBdr
{
    width: calc(100% - var(--showlist_epImgBoxWidth));
    height: 100%;
    margin-left: 10px;
}

.showlist_epDetBdr .showlist_epDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.showlist_epDetBox .showlist_epDetTitle
{
    color: var(--genWhiteTypeMid);
    font-size: 14px;
}

.showlist_epDetBox .showlist_epDetShow
{
    color: var(--genWhiteTypeDark);
    font-size: 10px;
}








@media(hover: hover)
{
    .section_title_textSmall:hover
    {
        color:var(--genWhiteTypeLight);
    }

    .genreTagCard:hover
    {
        background-color: #333333;
    }

    .genreTagCard:hover .genreTagCardText
    {
        color: var(--genWhiteTypeBright);
    }

    .media_optBox:hover
    {
        background-color: #282828;
        border-radius: 15px;
    }

    .media_optBox:hover .media_optIcon
    {
        fill: var(--genWhiteTypeBright);
    }

    .media_optBox:hover .media_optText
    {
        color: var(--genWhiteTypeBright);
    }

    .next_epCardBox:hover .next_epCardHover
    {
        opacity: 1;
        visibility: visible;
    }

    .showlist_MoreEpBtnBox:hover
    {
        --moreEpBtnColors: var(--genGreenTypeMid);
    }

    .showlist_MoreEpHeaderBox:hover
    {
        --showlistMoreEpHeaderClrs: var(--genGreenTypeLight);
    }

    .showlist_MoreEpSelector:hover
    {
        background-color: #222222;
    }

    .showlist_MoreEpSelector:hover .showlist_MoreEpSelectorText,
    .showlist_MoreEpSelector:hover .showlist_MoreEpSelectorEpNo
    {
        color: var(--genWhiteTypeLight);
    }
    
    .showlist_MoreEpSelector:hover .showlist_MoreEpHeaderListIcon
    {
        fill: var(--genWhiteTypeLight);
    }

    .showlist_epCardBox:hover
    {
        border-radius: 10px;
        background-color: #1d1d1d;
    }

    .showlist_epCardBox:hover .showlist_epCardHover
    {
        opacity: 1;
        visibility: visible;
    }

}

.like_buttons.active
{
    background-color: var(--genGreenTypeDark1);
    border-radius: 25px;
}





/* ==========================  RESPONSIVENESS ========================= */


/* --------- Width ---------- */

@media only screen and (max-width: 1100px)
{
    .column_ctnt .left_section_bdr
    {
        padding-left: 0px;
        border-radius: 5px;
    }

    .left_section_box.section_title_box,
    .left_section_box.synopsis_box
    {
        border-right: 3px solid var(--genGreenTypeDark1);
    }

    .section_Bdr .section_Box
    {
        flex-direction: column;
    }

    .section_Box .left_column,
    .section_Box .right_column
    {
        width: 100%;
        max-width: 100%;
    }
}


@media only screen and (max-width: 768px)
{
    .vid_sect_space
    {
        height: 35px;
    }

    .section_title_box .section_title_textLarge
    {
        font-size: 14px;
    }

    .section_title_box .section_title_textSmall
    {
        font-size: 12px;
    }

    .left_section_box.media_actions_box
    {
        flex-direction: column;
    }

    .media_actions_box .media_optBdr
    {
        gap: 3px;
    }

    .media_optBdr .media_optBox
    {
        padding: 15px;
    }

    .showlist_MoreEpBase .showlist_MoreEpBdr
    {
        max-width: 100%;
    }

    .showlist_MoreEpBox .showlist_MoreEpCloseBox
    {
        position: relative;
        width: 100%;
        height: var(--showlist_MoreEpCloseBoxHeight);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        background-color: #1f1f1f;
    }

    .showlist_MoreEpCloseBox .showlist_MoreEpCloseIcon
    {
        position: static;
        width: 18px;
        fill: var(--genWhiteTypeLight);
        cursor: pointer;
    }

    .showlist_MoreEpHeaderBdr .showlist_MoreEpHeaderBox
    {
        border-radius: 0;
    }

    .showlist_MoreEpHeaderBox .showlist_MoreEpHeaderText
    {
        font-size: 14px;
    }
}



@media only screen and (max-width: 600px)
{

    .showlist_MoreEpCtntBdr .showlist_MoreEpCtntBox
    {
        grid-template-columns: 100%;
        justify-items: start;
    }

    .showlist_MoreEpCtntBox .showlist_epCardBdr
    {
        --moreEpCtntBox_columnWidth: 100%;
    }

    .showlist_epCardBdr .showlist_epCardBox
    {
        width: 100%;
        justify-content: start;
    }
}



@media only screen and (max-width: 485px)
{
    .left_section_box.media_actions_box
    {
        align-items: flex-start;
    }

    .media_actions_box .media_optBdr
    {
        flex-direction: column;
    }

    .showlist_MoreEpCtntBox .showlist_epCardBdr
    {
        --showlist_epImgBoxWidth: 120px;
        height: 90px;
    }

    .showlist_epDetBox .showlist_epDetTitle
    {
        font-size: 12px;
    }

    .showlist_epDetBox .showlist_epDetShow
    {
        font-size: 9px;
    }
}



@media only screen and (max-width: 350px)
{
    html:root
    {
        --next_epImgBoxWidth: 100px;
    }

    .next_epCardBdr .next_epCardBox
    {
        justify-content: start;
    }
}













