/*************************************************************
 * This is the style for the Episode pages of Uvid
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/


html:root
{
    --genGreenTypeLight: #14d60d;
    --genGreenTypeDark: #148b10;
    --genWhiteTypeBright: #ffffff;
    --genWhiteTypeLight: #dfdfdf;
    --genWhiteTypeMid: #ababab;
    --genWhiteTypeDark: #6b6a6a;
    --genMaxWidth: 1340px;
    --leftColWidth: calc(100% - var(--rightColWidth));
    --rightColWidth: 35%;
    --showlist_MoreEpCloseBoxHeight: 50px;
    --showlist_MoreEpHeaderBdrHeight: 50px;
}


.vid_sect_space
{
    width: 100%;
    height: 70px;
}

/* ============= Video Details ============= */

.section_Base
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section_Base .section_Bdr
{
    width: 100%;
    max-width: var(--genMaxWidth);
}

.section_Bdr .section_Box
{
    width: 100%;
    display: flex;
    flex-direction: row;
}



/* ------------ Left Column ----------- */
.section_Box .left_column
{
    width: calc(100% - var(--rightColWidth));
}

.left_column .column_ctnt
{
    width: 100%;
    padding: 10px;
}

.column_ctnt .section_title_bdr
{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
}

.section_title_bdr .section_title_box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 15px;
    border-radius: 5px;
    border-left: 3px solid var(--genGreenTypeDark);
    background-color: #111111;
}

.section_title_box .section_title_textLarge
{
    width: 100%;
    color: var(--genWhiteTypeLight);
    font-size: 20px;
}

.section_title_box .section_title_textSmall
{
    width: -moz-fit-content;
    width: fit-content;
    color: var(--genWhiteTypeMid);
    font-size: 13px;
}

.column_ctnt .media_actions_bdr
{
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
}

.media_actions_bdr .media_actions_box
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 25px 15px;
    border-radius: 5px;
    border-left: 3px solid var(--genGreenTypeDark);
    /* border-right: 3px solid var(--genGreenTypeDark); */
    background-color: #111111;
}

.media_actions_box .media_actions_static
{
    width: 90px;
    height: 100%;
    background-color: var(--genGreenTypeDark);
}


.media_actions_box svg
{
    fill: var(--genGreenTypeLight);
    width: 18px;
}

.media_actions_box .media_optBdr
{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.media_optBdr .media_optBox
{
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}

.media_optBox .media_optIcon
{
    width: 20px;
    fill: var(--genWhiteTypeLight);
    transition: 300ms;
}

.media_optBox:hover .media_optIcon
{
    fill: var(--genGreenTypeLight);
}





/* ---------- Right Colun ---------- */
.section_Box .right_column
{
    width: var(--rightColWidth);
    overflow: hidden;
}

.right_column .showlist
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.showlist .showlist_head
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.showlist_head .showlist_nextText
{
    font-size: 13px;
    color: var(--genWhiteTypeMid);
}

.showlist .next_epCardBdr
{
    width: 100%;
    max-width: 300px;
    height: 100px;
    padding: 10px;
}

.next_epCardBdr .next_epCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.next_epCardBox .next_epImgBox
{
    position: relative;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.next_epImgBox .next_epImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.next_epCardBox .next_epLength
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    border-radius: 5px;
    background-color: #000000b0;
    z-index: 3;
}

.next_epImgBox .next_epCardHover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    z-index: 2;
}

.next_epCardBox:hover .next_epCardHover
{
    opacity: 1;
    visibility: visible;
}

.next_epCardHover .next_epCardHoverIcon
{
    width: 16px;
    fill: var(--genGreenTypeLight);
}

.next_epCardBox .next_epDetBdr
{
    width: calc(100% - 150px);
    height: 100%;
    padding: 0 0 0 10px;
}

.next_epDetBdr .next_epDetBox
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.next_epDetBox .next_epDetTitle
{
    color: var(--genWhiteTypeMid);
    font-size: 14px;
}

.next_epDetBox .next_epDetShow
{
    color: #888888;
    font-size: 10px;
}

.showlist .showlist_epdivider
{
    width: 100%;
    border-bottom: .25px solid #6b6a6a;
}

.showlist .showlist_MoreEpBtnBdr
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.showlist_MoreEpBtnBdr .showlist_MoreEpBtnBox
{
    --moreEpBtnColors: #ababab;
    font-family: 'Zen dots', sans-serif;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    outline: none;
    border: 2px solid var(--moreEpBtnColors);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpBtnBox:active
{
    transform: scale(0.95);
}


.showlist_MoreEpBtnBox:hover
{
    --moreEpBtnColors: var(--genGreenTypeDark);
}

.showlist_MoreEpBtnBox .showlist_MoreEpBtnIcon
{
    width: 25px;
    fill: var(--moreEpBtnColors);
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpBtnBox .showlist_MoreEpBtnText
{
    color: var(--moreEpBtnColors);
    font-size: 13px;
    transition: all 300ms ease-in-out;
}




/* -------------- More Episodes ------------ */

.showlist_MoreEpBase
{
    position: fixed;
    top: calc(0%);
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    z-index: 105;
}

.showlist_MoreEpBase.active
{
    display: flex;
}

.showlist_MoreEpBase .showlist_MoreEpBcg
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    z-index: -1;
}

.showlist_MoreEpBase .showlist_MoreEpBdr
{
    width: 100%;
    max-width: 700px;
    height: 100%;
}

.showlist_MoreEpBdr .showlist_MoreEpBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.showlist_MoreEpBox .showlist_MoreEpCloseBox
{
    position: relative;
    width: 100%;
    height: var(--showlist_MoreEpCloseBoxHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 15px;
    transition: 300ms;
}

.showlist_MoreEpCloseBox .showlist_MoreEpCloseIcon
{
    position: absolute;
    right: -25px;
    width: 25px;
    fill: var(--genWhiteTypeLight);
    cursor: pointer;
    transition: 300ms;
}

.showlist_MoreEpBox .showlist_MoreEpHeaderBdr
{
    position: relative;
    width: 100%;
    height: var(--showlist_MoreEpHeaderBdrHeight);
}

.showlist_MoreEpHeaderBdr .showlist_MoreEpHeaderBox
{
    --showlistMoreEpHeaderClrs: var(--genWhiteTypeLight);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: #313131;
    transition: all 300ms ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.showlist_MoreEpHeaderBox .showlist_MoreEpHeaderText
{
    color: var(--showlistMoreEpHeaderClrs);
    font-size: 18px;
    transition: 300ms;
}

.showlist_MoreEpHeaderBox:hover
{
    --showlistMoreEpHeaderClrs: var(--genGreenTypeLight);
}

.showlist_MoreEpHeaderBox .showlist_MoreEpHeaderIcon
{
    width: 16px;
    fill: var(--showlistMoreEpHeaderClrs);
    transition: 300ms;
}

.showlist_MoreEpHeaderBdr .showlist_MoreEpSelectorBdr
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background: #171717;
    z-index: 4;
}

.showlist_MoreEpSelectorBdr.active
{
    display: flex;
}

.showlist_MoreEpSelectorBdr .showlist_MoreEpSelectorBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.showlist_MoreEpSelectorBox .showlist_MoreEpSelector
{
    color: var(--genWhiteTypeDark);
    font-size: 12px;
    padding: 15px;
    transition: 300ms;
}

.showlist_MoreEpSelector:hover
{
    color: var(--genWhiteTypeBright);
    background-color: #444444;
}

.showlist_MoreEpSelector.active
{
    color: var(--genWhiteTypeLight);
}

.showlist_MoreEpBox .showlist_MoreEpCtntBdr
{
    width: 100%;
    height: calc(100% - (var(--showlist_MoreEpCloseBoxHeight) + var(--showlist_MoreEpHeaderBdrHeight)));
    overflow: hidden;
    overflow-y: auto;
    background-color: #111111;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out;
}

.showlist_MoreEpCtntBdr.active
{
    display: flex;
}

.showlist_MoreEpCtntBdr.inactive
{
    display: none;
}

.showlist_MoreEpCtntBdr .showlist_MoreEpCtntBox
{
    --moreEpCtntBox_columnWidth: 275px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--moreEpCtntBox_columnWidth), 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 10px;
    background-color: transparent;
}

.showlist_MoreEpCtntBox .showlist_epCardBdr
{
    width: 100%;
    height: 100px;
    padding: 10px;
}

.showlist_epCardBdr .showlist_epCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.showlist_epCardBox .showlist_epImgBox
{
    position: relative;
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.showlist_epImgBox .showlist_epImg
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.showlist_epCardBox .showlist_epLength
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--genWhiteTypeLight);
    font-size: 12px;
    border-radius: 5px;
    background-color: #000000b0;
    z-index: 3;
}

.showlist_epImgBox .showlist_epCardHover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    z-index: 2;
}

.showlist_epCardBox:hover .showlist_epCardHover
{
    opacity: 1;
    visibility: visible;
}

.showlist_epCardHover .showlist_epCardHoverIcon
{
    width: 16px;
    fill: var(--genGreenTypeLight);
}

.showlist_epCardBox .showlist_epDetBdr
{
    width: calc(100% - 150px);
    height: 100%;
    padding: 0 0 0 10px;
}

.showlist_epDetBdr .showlist_epDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.showlist_epDetBox .showlist_epDetTitle
{
    color: var(--genWhiteTypeMid);
    font-size: 14px;
}

.showlist_epDetBox .showlist_epDetShow
{
    color: #888888;
    font-size: 10px;
}














/* ==========================  RESPONSIVENESS ========================= */


/* --------- Width ---------- */

@media only screen and (max-width: 1100px)
{
    .column_ctnt .section_title_bdr,
    .column_ctnt .media_actions_bdr
    {
        padding-left: 0px;
        border-radius: 5px;
        border-left: 3px solid var(--genGreenTypeDark);
        border-right: 3px solid var(--genGreenTypeDark);
    }

    .section_title_bdr .section_title_box,
    .media_actions_bdr .media_actions_box
    {
        border: none;
    }

    .section_Bdr .section_Box
    {
        flex-direction: column;
    }

    .section_Box .left_column,
    .section_Box .right_column
    {
        width: 100%;
    }
}


@media only screen and (max-width: 768px)
{
    .vid_sect_space
    {
        height: 35px;
    }

    .section_title_box .section_title_textLarge
    {
        font-size: 14px;
    }

    .section_title_box .section_title_textSmall
    {
        font-size: 12px;
    }

    .showlist_MoreEpBox .showlist_MoreEpCloseBox
    {
        position: relative;
        width: 100%;
        height: var(--showlist_MoreEpCloseBoxHeight);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        background-color: #222222;
    }

    .showlist_MoreEpCloseBox .showlist_MoreEpCloseIcon
    {
        position: static;
        width: 18px;
        fill: var(--genWhiteTypeLight);
        cursor: pointer;
    }

    .showlist_MoreEpHeaderBdr .showlist_MoreEpHeaderBox
    {
        border-radius: 0;
    }

    .showlist_MoreEpCtntBdr .showlist_MoreEpCtntBox
    {
        --moreEpCtntBox_columnWidth: 175px;
    }

    .showlist_MoreEpCtntBox .showlist_epCardBdr
    {
        height: 200px;
    }

    .showlist_epCardBdr .showlist_epCardBox
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .showlist_epCardBox .showlist_epDetBdr
    {
        width: 100%;
        height: fit-content;
        align-items: center;
        padding: 0;
    }

    .showlist_epDetBdr .showlist_epDetBox
    {
        width: 100%;
        align-items: center;
    }
}



@media only screen and (max-width: 350px)
{
    .next_epCardBox .next_epImgBox
    {
        width: 120px;
    }
}













