

body::-webkit-scrollbar{
    display: none;
}

.bodystop{
    overflow: hidden;
}


a{
    text-decoration: none;
}



/* ======= For search catalog ========= */

.srchbody{
    background: #1c1c1c;
}

.searchbox-border{
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    overflow: hidden;
}

.srch-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: #0e0e0e99; */
    z-index: 20;
}

.bar-float{
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: #0e0e0e99; */
}

.srch-box-ctnt{
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #282727;
    border-bottom: 2px solid #1da216;
    border-radius: 5px;
    overflow: hidden;
}

.srch-box-ctnt input{
    font-family: 'Zen Dots', sans-serif;
    width: calc(100% - 75px);
    /* width: 100%; */
    height: 100%;
    color: #fff;
    background: #282727;
    outline: none;
    border: none;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    padding: 10px;
}

.srch-box-ctnt input::placeholder{
    color: #aeabab;
    font-family: 'Zen Dots', sans-serif;
}

.srch-box-ctnt .search-btn{
    width: 75px;
    height: 100%;
    /* display: none; */
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.search-btn i{
    font-size: 18px;
    color: #14d60d;
}

.srch-catalog-box{
    width: 100%;
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: auto;
}

.srch-catalog-box::-webkit-scrollbar{
    display: none;
}

.srch-catalog{
    width: 100%;
    gap: 10px;
    padding: 10px 20px;
    transition: 500ms;
    overflow-y: visible;
}


.open-ctg{
    /* height: fit-content; */
}

.srch-card{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding: 0px 10px;
    column-gap: 10px;
    overflow: hidden;
    background: #2f2e2e;
    border-radius: 10px;
    transition: 500ms;
}

.srch-card:hover{
    background: #3a3a3a;
}

.srch-card-img{
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #3a3a3a;
    overflow: hidden;
}

.srch-card-img img{
    width: 100%;
    height: 100%;
    z-index: 3;
}

.srch-card-img .img_shadow{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: #92161699; */
}

.srch-card-det{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.srch-card-det h3{
    width: 100%;
    font-size: 10px;
    color: #e7e7e7;
}

.srch-card-det h6{
    width: 100%;
    font-size: 9px;
    color: #14d60d;
}

.give_space{
    width: 100%;
    height: 100px;
}




/* ============ RESPONSIVE =========== */
@media only screen and (max-width: 884px)
{
    .srch-box-ctnt{
        width: 90%;
    }

    .srch-card-img{
        width: 50px;
        height: 50px;
    }

    .srch-card-det h3{
        font-size: 14px;
    }
    
    .srch-card-det h6{
        font-size: 11px;
    }
}

