/*************************************************************
 * This is the style for the search page of Trending page
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/



html:root
{
    --trendingCardBdrPseudoInset: -1.5625rem;
    --trendingImgBdrWidth: 9.375rem;
    --trendingImgBdrHeight: 13.4375rem;
    --trendingDetAboutTextClr: var(--color10);
}



.trendingBase
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--navBarHeight) 0 0;
}

.trendingBase .trendingBdr
{
    width: 100%;
    max-width: var(--genMaxContainerWidth);
    display: flex;
    flex-direction: column;
    padding: 1.25rem var(--genBorderSpacing);
}

.trendingBdr .trendingSiteNameBdr
{
    width: 100%;
    margin-bottom: calc(var(--trendingCardBdrPseudoInset) * -1.5);
}

.trendingSiteNameBdr .trendingSiteNameBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trendingSiteNameBox .trendingSiteNameTop
{
    color: var(--genWhiteTypeLight);
    font-size: 1.4375rem;
}

.trendingSiteNameBox .trendingSiteNameBtm
{
    color: var(--trendingDetAboutTextClr);
    font-size: 0.875rem;
}

.trendingBdr .trendingBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trendingBox .trendingCardBdr
{
    position: relative;
    width: 100%;
    height: calc(var(--trendingImgBdrHeight) + (var(--trendingCardBdrPseudoInset) * -1));
    margin-bottom: calc(var(--trendingCardBdrPseudoInset) * -2);
    z-index: 1;
}

.trendingCardBdr::before
{
    content: '';
    position: absolute;
    inset: var(--trendingCardBdrPseudoInset);
    border-radius: 0.625rem;
    background-color: #1f1f1f;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.75);
    transition: all 200ms ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.trendingCardBdr:hover::before
{
    opacity: 1;
    visibility: visible;
    transform: scale(1.00);
}

.trendingCardBdr .trendingCardBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.trendingCardBox .trendingImgBdr
{
    width: var(--trendingImgBdrWidth);
    height: 100%;
}

.trendingImgBdr .trendingImgBox
{
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
}

.trendingImgBox .trendingImg
{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: cover;
}

.trendingCardBox .trendingDetBdr
{
    width: calc(100% - var(--trendingImgBdrWidth));
    height: 100%;
}

.trendingDetBdr .trendingDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.25rem;
}

.trendingDetBox .trendingDetTitleBdr
{
    width: 100%;
}

.trendingDetTitleBdr .trendingDetTitleBox
{
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.trendingDetTitleBox .trendingDetTitleText
{
    --trendingDetTitleTextNo: 2;
    --trendingDetTitleTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--trendingDetTitleTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--trendingDetTitleTextNo);
    display: -webkit-box;
    max-height: calc(var(--trendingDetTitleTextNo) * 1em * var(--trendingDetTitleTextH));
    line-height: var(--trendingDetTitleTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--genWhiteTypeLight);
    font-size: 1.375rem;
    overflow-wrap: break-word;
    overflow: hidden;
}

.trendingDetBox .trendingDetFeatureBdr
{
    width: 100%;
    margin: 0.75rem 0;
}

.trendingDetFeatureBdr .trendingDetFeatureBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
}

.trendingDetFeatureBox .trendingDetFeatureCard
{
    display: flex;
    flex-direction: column;
}

.trendingDetFeatureCard .trendingDetFeatureCard_Top
{
    font-family: 'Poppins' , sans-serif;
    font-size: 0.8125rem;
    color: var(--genGreenTypeLight2);
}

.trendingDetFeatureCard .trendingDetFeatureCard_Btm
{
    font-size: 0.875rem;
    color: var(--genWhiteTypeLight);
}

.trendingDetBox .trendingDetAboutBdr
{
    width: 100%;
    margin-bottom: 0.75rem;
}

.trendingDetAboutBdr .trendingDetAboutBox
{
    width: 100%;
}

.trendingDetAboutBox .trendingDetAboutText
{
    --trendingDetAboutTextNo: 2;
    --trendingDetAboutTextH: 1.4;
    position: relative;
    -webkit-line-clamp: var(--trendingDetAboutTextNo);
    -webkit-box-orient: vertical;
    line-clamp:  var(--trendingDetAboutTextNo);
    display: -webkit-box;
    max-height: calc(var(--trendingDetAboutTextNo) * 1em * var(--trendingDetAboutTextH));
    line-height: var(--trendingDetAboutTextH);
    -webkit-hyphens: auto;
    hyphens: auto;
    color: var(--trendingDetAboutTextClr);
    font-size: 0.8125rem;
    overflow-wrap: break-word;
    overflow: hidden;
}

.trendingDetBox .trendingDetWatchBdr
{
    width: 100%;
    display: none;
}

.trendingDetWatchBdr .trendingDetWatchBox
{
    width: 100%;
}

.trendingDetWatchBox .trendingDetWatchBtn
{
    width: -moz-fit-content;
    width: fit-content;
    width: 11.5625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border-radius: 0.625rem;
    background-color: var(--genGreenTypeMid2);
}

.trendingDetWatchBtn:active
{
    background-color: var(--genGreenTypeMid);
}

.trendingDetWatchBtn .trendingDetWatchBtnIcon
{
    width: 1.125rem;
    fill: var(--genWhiteTypeLight);
}

.trendingDetWatchBtn .trendingDetWatchBtnText
{
    margin-left: 0.3125rem;
    color: var(--genWhiteTypeLight);
    font-size: 0.875rem;
}


@media(hover: hover)
{

    .trendingDetWatchBtn:hover
    {
        background-color: var(--genGreenTypeMid);
    }
}




/* ================ RESPONSIVENESs ============== */

@media only screen and (max-width: 48rem)
{
    html:root
    {
        --trendingCardBdrPseudoInset: -0.9375rem;
    }
}


@media only screen and (max-width: 35.125rem)
{
    html:root
    {
        --trendingCardBdrPseudoInset: 0rem;
        --trendingImgBdrWidth: 7.5rem;
        --trendingImgBdrHeight: 12.1875rem;
    }

    .trendingBase .trendingBdr
    {
        padding: 1.25rem 0.9375rem;
    }

    .trendingBdr .trendingSiteNameBdr
    {
        margin-bottom: 1.25rem;
    }

    .trendingSiteNameBox .trendingSiteNameTop
    {
        font-size: 1.25rem;
    }
    
    .trendingSiteNameBox .trendingSiteNameBtm
    {
        font-size: 0.8125rem;
    }

    .trendingBox .trendingCardBdr
    {
        margin-bottom: 0rem;
        padding: 0.625rem;
    }

    .trendingDetBdr .trendingDetBox
    {
        padding-left: 0.9375rem;
    }
    
    .trendingDetTitleBox .trendingDetTitleText
    {
        font-size: 1.0625rem;
    }

    .trendingDetFeatureCard .trendingDetFeatureCard_Top,
    .trendingDetFeatureCard .trendingDetFeatureCard_Btm,
    .trendingDetAboutBox .trendingDetAboutText
    {
        font-size: 0.75rem;
    }
}


@media only screen and (max-width: 25rem)
{
    html:root
    {
        --trendingImgBdrWidth: 6.25rem;
        --trendingImgBdrHeight: 10.625rem;
    }

    .trendingDetBdr .trendingDetBox
    {
        padding-left: 0.75rem;
    }

    .trendingDetBox .trendingDetFeatureBdr
    {
        margin: 0.4375rem 0;
    }

    .trendingDetFeatureBdr .trendingDetFeatureBox
    {
        gap: 0.9375rem;
    }
}

