/*************************************************************
 * This is the style for the User pages
 * 
 * @author (Anyanwu Benedict Chukwuemeka)
 * @version (v0.01)
 *************************************************************/


html:root
{
    --userHeaderBdrHeight: 225px;
    --userHeaderNavLinkClr: var(--genWhiteTypeMid);
    --userHeaderNavLinkIconSizing: 18px;
    --userBodyTitleClr: var(--genWhiteTypeLight);
    --emptyUserPageIconSize: 50px;
    --userOrderBtnClr: var(--genWhiteTypeMid);
    /* --userOrderBtnBcg: #1f1f1f; */
    --userOrderBtnBcg: var(--navMenuBcgClr);
    --userOrderMenuBcg: var(--genModalBcg);
}

.userMainBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.userMainBdr .userMainBox
{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* ============= USER HEADER ============= */
.userMainBox .userHeaderBdr
{
    width: 100%;
    height: var(--userHeaderBdrHeight);
}

.userHeaderBdr .userHeaderBox
{
    position: relative;
    width: 100%;
    height: 100%;
}


/* ----- Header Bcg Image ----- */
.userHeaderBox .userHeaderBcgBdr
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.userHeaderBcgBdr .userHeaderBcgBox
{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px) brightness(0.50);
    filter: blur(10px) brightness(0.50);
}

.userHeaderBcgBox .userHeaderBcgImg
{
    width: clamp(100%, 100%, 100%);
    height: clamp(100%, 100%, 100%);
    object-position: center;
    object-fit: cover;
}


/* ----- Header Det Content ----- */
.userHeaderBox .userHeaderDetBdr
{
    width: 100%;
    height: 100%;
}

.userHeaderDetBdr .userHeaderDetBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.userHeaderDetBox .userHeaderTitleBdr
{
    width: 100%;
}

.userHeaderTitleBdr .userHeaderTitleBox
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.userHeaderTitleBox .userHeaderTitleText
{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 27px;
    color: var(--genWhiteTypeLight);
    letter-spacing: 0.05em;
}


.userHeaderDetBox .userHeaderNavBdr
{
    width: 100%;
}

.userHeaderNavBdr .userHeaderNavBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.userHeaderNavBox .userHeaderNavLink
{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}

.userHeaderNavLink:active
{
    --userHeaderNavLinkClr: var(--genGreenTypeLight);
}

.userHeaderNavLink.active
{
    --userHeaderNavLinkClr: var(--genGreenTypeLight);
    border-bottom: 2px solid var(--userHeaderNavLinkClr);
}

.userHeaderNavLink .userHeaderNavLinkIcon
{
    width: var(--userHeaderNavLinkIconSizing);
    height: var(--userHeaderNavLinkIconSizing);
    fill: var(--userHeaderNavLinkClr);
    transition: all 300ms ease-in-out;
}

.userHeaderNavLink .userHeaderNavLinkText
{
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    margin-left: 7px;
    color: var(--userHeaderNavLinkClr);
    transition: all 300ms ease-in-out;
}



/* =========== USER BODY ========= */
.userMainBox .userBodyBdr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.userBodyBdr .userBodyBox
{
    width: 100%;
    max-width: calc((var(--genMaxContainerWidth) / 1.00));
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 35px var(--genBorderSpacing);
}

.userBodyBox .userBodyTitleBdr
{
    width: 100%;
    margin-bottom: 25px;
}

.userBodyTitleBdr .userBodyTitleBox
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.userBodyTitleBox .userBodyTitleIconBox
{
    width: 26px;
    height: 26px;
}

.userBodyTitleIconBox .userBodyTitleIconSvg
{
    width: 100%;
    height: 100%;
    fill: var(--userBodyTitleClr);
}

.userBodyTitleBox .userBodyTitleText
{
    margin-left: 10px;
    color: var(--userBodyTitleClr);
    font-size: 24px;
}

.userBodyBox .userBodyCtntBdr
{
    width: 100%;
}

.userBodyCtntBdr .userBodyCtntBox
{
    width: 100%;
}

.userClearAllBdr
{
    width: 100%;
    margin: 0 0 25px;
}

.userClearAllBdr .userClearAllBox
{
    width: 100%;
    display: flex;
    justify-content: end;
}

.userClearAllBox .userClearAllBtn
{
    padding: 7px 15px;
    color: var(--genWhiteTypeMid2);
    font-size: 12px;
    border-radius: 10px;
}

.userOrderBtnBdr
{
    position: relative;
    margin-right: 5px;
}

.userOrderBtnBdr:last-child
{
    margin-right: 0;
}

.userOrderBtnBdr .userOrderBtnBox
{
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--userOrderBtnBcg);
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.userOrderBtnBdr:active .userOrderBtnBox
{
    --userOrderBtnClr: var(--genWhiteTypeMid);
    --userOrderBtnBcg: #424242;
}

.userOrderBtnBdr.active .userOrderBtnBox
{
    --userOrderBtnClr: var(--genWhiteTypeMid);
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    background-color: var(--userOrderBtnBcg);
}

.userOrderBtnBox .userOrderBtnIcon
{
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.userOrderBtnIcon .userOrderBtnSvg
{
    width: clamp(100% , 100% , 100%);
    height: clamp(100% , 100% , 100%);
    fill: var(--userOrderBtnClr);
    transition: all 300ms ease-in-out;
}

.userOrderBtnBox .userOrderBtnText
{
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    color: var(--userOrderBtnClr);
    transition: all 300ms ease-in-out;
}


.userOrderBtnBdr .userOrderOptBdr
{
    position: absolute;
    bottom: calc((0% - 10px));
    right: 0%;
    width: 200px;
    /* max-height: 300px; */
    border-radius: 10px;
    background-color: var(--userOrderMenuBcg);
    opacity: 0;
    visibility: hidden;
    overflow: hidden auto;
    pointer-events: none;
    transform: translate(0% , 100%);
    transition: all 300ms ease-in-out;
    z-index: 9;
}

.userOrderOptBdr.active
{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.userOrderOptBdr .userOrderOptBox
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.userOrderOptBox .userOrderOptSect
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.userOrderOptSect:last-child
{
    margin-bottom: 0;
}

.userOrderOptSect .userOrderOptSectTitleBox
{
    width: 100%;
    padding: 10px 20px;
}

.userOrderOptSectTitleBox .userOrderOptSectTitleText
{
    font-size: 11px;
    font-weight: 600;
    color: var(--genGreenTypeMid);
    text-transform: uppercase;
}

.userOrderOptSect .userOrderOptTab
{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.userOrderOptTab:active
{
    background-color: var(--genModalOptHover);
}

.userOrderOptTab.active
{
    background-color: var(--genModalOptHover);
}

.userOrderOptTab.active::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    width: 15px;
    height: 7px;
    background-color: #00000000;
    border-left: 2px solid var(--genGreenTypeLight);
    border-bottom: 2px solid var(--genGreenTypeLight);
    transform: translate(-50% , -75%) rotate(-45deg);
    z-index: 3;
}

.userOrderOptTab .userOrderOptText
{
    font-size: 14px;
    color: var(--genWhiteTypeMid);
    transition: all 300ms ease-in-out;
}

.userOrderOptTab:active .userOrderOptText
{
    color: var(--genWhiteTypeMid2);
}

.userOrderOptTab.active .userOrderOptText
{
    color: var(--genGreenTypeLight) !important;
}









/* ============= Empty USer Page (When ctnt cleared) ============= */

.emptyUserPageBdr
{
    width: 100%;
    height: 50vh;
}

.emptyUserPageBdr .emptyUserPageBox
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyUserPageBox .emptyUserPageCtnt
{
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyUserPageCtnt .emptyUserPageIconBox
{
    width: -moz-fit-content;
    width: fit-content;
}

.emptyUserPageIconBox .emptyUserPageIconSvg
{
    width: clamp(var(--emptyUserPageIconSize) , var(--emptyUserPageIconSize) , var(--emptyUserPageIconSize));
    height: clamp(var(--emptyUserPageIconSize) , var(--emptyUserPageIconSize) , var(--emptyUserPageIconSize));
    fill: var(--genWhiteTypeDark);
}

.emptyUserPageCtnt .emptyUserPageNoteBox
{
    width: -moz-fit-content;
    width: fit-content;
}

.emptyUserPageNoteBox .emptyUserPageNoteText
{
    font-size: 14px;
    color: var(--genWhiteTypeDark);
    text-align: center;
    margin-top: 10px;
}

.emptyUserCreateBtn
{
    margin-top: 15px;
    padding: 20px 25px;
    border-radius: 10px;
}







@media(hover: hover)
{
    .userHeaderNavLink:hover
    {
        --userHeaderNavLinkClr: var(--genGreenTypeLight);
    }

    .userOrderBtnBdr:hover .userOrderBtnBox
    {
        --userOrderBtnClr: var(--genWhiteTypeMid);
        --userOrderBtnBcg: #333333;
    }

    .userOrderOptTab:hover
    {
        background-color: var(--genModalOptHover);
    }

    .userOrderOptTab:hover .userOrderOptText
    {
        color: var(--genWhiteTypeMid2);
    }
}





/* ================== RESPONSIVENESS ================ */

@media only screen and (max-width: 768px)
{
    .userHeaderNavBdr .userHeaderNavBox
    {
        gap: 10px;
    }
}

@media only screen and (max-width: 650px)
{
    .userHeaderNavBdr .userHeaderNavBox
    {
        gap: 0px;
    }
}


@media only screen and (max-width: 600px)
{

    html:root
    {
        --userHeaderBdrHeight: 125px;
        --userHeaderNavLinkIconSizing: 24px;
    }

    .userHeaderDetBox .userHeaderTitleBdr
    {
        display: none;
    }

    .userHeaderNavBdr .userHeaderNavBox
    {
        gap: 20px;
    }

    .userHeaderNavLink .userHeaderNavLinkText
    {
        display: none;
    }
}


@media only screen and (max-width: 565px)
{
    
    .userOrderBtnBdr .userOrderOptBdr
    {
        position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        width: 100%;
        height: 100%;
        max-height: none;
        transform: translate(0% , 0%);
        z-index: 110;
    }

    .userOrderOptBdr .userOrderOptBox
    {
        padding: 0;
    }
}


@media only screen and (max-width: 485px)
{

    .userBodyTitleBdr .userBodyTitleBox
    {
        justify-content: center;
    }

    .userClearAllBdr
    {
        margin: 25px 0;
    }

    .userClearAllBdr .userClearAllBox
    {
        justify-content: center;
    }
}


@media only screen and (max-width: 300px)
{
    .userHeaderNavBdr .userHeaderNavBox
    {
        gap: 12px;
    }
}






